Repository weareinreach/InReach, pull requests merged in 2023-05, with the labels that each got.

#444 fix: Signup flow select other please specify for lawyer where do you practice law does not open an input field
  apps/app/public/locales/en/common.json
  packages/ui/modals/SignUp/context.ts
  packages/ui/modals/SignUp/fields.tsx
  packages/ui/modals/SignUp/index.tsx
Labels: bugfix, automerge, 📦 app, 📦 ui

#349 feat(ui): User Survey Modal
  apps/app/public/locales/en/common.json
  packages/api/router/user.ts
  packages/ui/.storybook/decorators.tsx
  packages/ui/mockData/surveyOptions.ts
  packages/ui/modals/SignUp/index.tsx
  packages/ui/modals/UserSurvey/context.ts
  packages/ui/modals/UserSurvey/fields.tsx
  packages/ui/modals/UserSurvey/index.stories.tsx
  packages/ui/modals/UserSurvey/index.tsx
Labels: automerge, new-feature, 📦 app, 📦 api, 📦 ui

#455 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ar/attribute.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/ar/country.json
  apps/app/public/locales/ar/phone-type.json
  apps/app/public/locales/es/attribute.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/country.json
  apps/app/public/locales/es/phone-type.json
  apps/app/public/locales/fr/attribute.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/fr/country.json
  apps/app/public/locales/fr/phone-type.json
  apps/app/public/locales/ru/attribute.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/ru/country.json
  apps/app/public/locales/ru/phone-type.json
  apps/app/public/locales/xx-XX/attribute.json
  apps/app/public/locales/xx-XX/common.json
  apps/app/public/locales/xx-XX/phone-type.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#420 feat: Text field click to edit (IN-833)
  packages/ui/components/data-portal/EmailTableDrawer.tsx
  packages/ui/components/data-portal/InlineTextInput.stories.tsx
  packages/ui/components/data-portal/InlineTextInput.tsx
  packages/ui/components/data-portal/MultiSelectPopover.stories.tsx
  packages/ui/components/data-portal/PhoneNumberEntry.stories.tsx
  packages/ui/theme/common.tsx
Labels: automerge, new-feature, 📦 ui

#486 feat: quick link tables
  apps/app/nextjs-routes.d.ts
  apps/app/package.json
  apps/app/src/pages/_app.tsx
  apps/app/src/pages/admin/quicklink/email.tsx
  apps/app/src/pages/admin/quicklink/index.tsx
  apps/app/src/pages/admin/quicklink/phone.tsx
  apps/app/src/pages/api/auth/[...nextauth].ts
  apps/app/src/pages/index.tsx
  apps/app/src/pages/org/[slug]/[orgLocationId]/edit.tsx
  apps/app/src/pages/org/[slug]/[orgLocationId]/index.tsx
  apps/app/src/pages/org/[slug]/edit.tsx
  apps/app/src/pages/org/[slug]/index.tsx
  apps/app/src/pages/search/[...params]/index.tsx
  apps/app/src/pages/suggest.tsx
  packages/api/lib/context.ts
  packages/api/lib/middleware/basicAuth.ts
  packages/api/lib/middleware/permissions.ts
  packages/api/router/index.ts
  packages/api/router/quicklink.ts
  packages/api/trpc/ssr.ts
  packages/auth/index.ts
  packages/auth/next-auth/get-session.ts
  packages/auth/server.ts
  packages/db/.gitignore
  packages/db/kysely-vercel/index.ts
  packages/db/prisma/data-migrations/!YYYY-MM-DD_job-template.ts
  packages/db/prisma/data-migrations/2023-05-18_user-permissions.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/prisma/migrations/20230516191527_phone_field_update/migration.sql
  packages/db/prisma/schema.prisma
  packages/eslint-config/base.js
  packages/ui/components/data-portal/MultiSelectPopover.tsx
  packages/ui/other/ReactQueryDevtools.tsx
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui, 📦 auth, 📦 eslint-config

#490 fix: add auth check to quick link landing page
  apps/app/src/pages/admin/quicklink/index.tsx
Labels: bugfix, automerge, 📦 app

#481 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/phone-type.json
  apps/app/public/locales/es/services.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#500 refactor: use direct imports
  apps/app/src/pages/_app.tsx
  apps/app/src/pages/index.tsx
  apps/app/src/pages/org/[slug]/[orgLocationId]/edit.tsx
  apps/app/src/pages/org/[slug]/[orgLocationId]/index.tsx
  apps/app/src/pages/org/[slug]/edit.tsx
  apps/app/src/pages/org/[slug]/index.tsx
  apps/app/src/pages/search/[...params]/index.tsx
  packages/ui/components/data-display/ContactInfo.tsx
  packages/ui/components/data-portal/AddressDrawer.stories.tsx
  packages/ui/components/data-portal/AddressDrawer.tsx
  packages/ui/components/data-portal/EmailTableDrawer.stories.tsx
  packages/ui/components/data-portal/PhoneTableDrawer.stories.tsx
  packages/ui/components/sections/ListingBasicInfo.tsx
  packages/ui/components/sections/LocationCard.tsx
  packages/ui/components/sections/Navbar.tsx
  packages/ui/components/sections/Reviews.tsx
  packages/ui/components/sections/SearchResultSidebar.tsx
  packages/ui/components/sections/ServicesInfo.tsx
  packages/ui/components/sections/SuggestOrg/index.tsx
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/modals/AccountVerified.tsx
  packages/ui/modals/CreateNewList.stories.tsx
  packages/ui/modals/CreateNewList.tsx
  packages/ui/modals/DeleteModal.stories.tsx
  packages/ui/modals/DeleteModal.tsx
  packages/ui/modals/Example.stories.tsx
  packages/ui/modals/Example.tsx
  packages/ui/modals/ForgotPassword.stories.tsx
  packages/ui/modals/ForgotPassword.tsx
  packages/ui/modals/Login.stories.tsx
  packages/ui/modals/Login.tsx
  packages/ui/modals/ModalTitle.tsx
  packages/ui/modals/PrivacyStatement.stories.tsx
  packages/ui/modals/PrivacyStatement.tsx
  packages/ui/modals/QuickPromotion.stories.tsx
  packages/ui/modals/QuickPromotion.tsx
  packages/ui/modals/ResetPassword.tsx
  packages/ui/modals/Review.stories.tsx
  packages/ui/modals/Service.stories.tsx
  packages/ui/modals/Service.tsx
  packages/ui/modals/SignUp/index.stories.tsx
  packages/ui/modals/SignUp/index.tsx
  packages/ui/modals/UserSurvey/index.stories.tsx
  packages/ui/modals/UserSurvey/index.tsx
  packages/ui/modals/dataPortal/Attributes/index.stories.tsx
  packages/ui/modals/dataPortal/PhoneEmail/index.stories.tsx
Labels: automerge, refactor, 📦 app, 📦 ui

#503 feat: add published col & helpers to quicklink
  apps/app/src/pages/admin/quicklink/email.tsx
  apps/app/src/pages/admin/quicklink/phone.tsx
  packages/api/router/quicklink.ts
Labels: automerge, new-feature, 📦 app, 📦 api

#498 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/user.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#504 release: alpha12
  apps/app/package.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/user.json
  apps/app/src/pages/admin/quicklink/email.tsx
  apps/app/src/pages/admin/quicklink/phone.tsx
  apps/web/package.json
  package.json
  packages/api/package.json
  packages/api/router/quicklink.ts
  packages/auth/package.json
  packages/aws-cache/package.json
  packages/aws-messaging/package.json
  packages/aws-user-migrate/package.json
  packages/config/package.json
  packages/db/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: automerge, release
