Repository weareinreach/InReach, pull requests merged in 2023-01, with the labels that each got.

#138 style: update theme base
  apps/app/src/pages/_app.tsx
  packages/ui/.storybook/font.css
  packages/ui/components/layout/SafetyExit.tsx
  packages/ui/theme/common.ts
  packages/ui/theme/storybook.ts
Labels: bugfix, 📦 app, 📦 ui

#144 feat: IN-719-Rating
  apps/app/public/locales/en/common.json
  packages/ui/components/core/RatingTag.stories.tsx
  packages/ui/components/core/RatingTag.tsx
Labels: automerge, new-feature, 📦 app, 📦 ui

#142 feat: Breadcrumb
  apps/app/public/locales/en/common.json
  packages/ui/components/core/Breadcrumb.stories.tsx
  packages/ui/components/core/Breadcrumb.tsx
  packages/ui/components/core/RatingTag.stories.tsx
Labels: automerge, new-feature, 📦 app, 📦 ui

#150 fix(ui): update icons
  packages/ui/components/Demobutton.tsx
  packages/ui/components/core/Button.stories.tsx
  packages/ui/components/core/SocialMediaIconButton.stories.tsx
  packages/ui/components/core/SocialMediaIconButton.tsx
  packages/ui/components/core/index.tsx
  packages/ui/components/layout/Nav.stories.tsx
  packages/ui/components/layout/Nav.tsx
  packages/ui/components/layout/SafetyExit.stories.tsx
  packages/ui/components/layout/SafetyExit.tsx
  packages/ui/components/layout/index.tsx
Labels: bugfix, automerge, 📦 ui

#173 feat: verified tag
  apps/app/public/locales/en/common.json
  packages/ui/components/core/VerifiedBadge.stories.tsx
  packages/ui/components/core/VerifiedBadge.tsx
  packages/ui/components/core/index.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 app, 📦 ui

#179 feat(ui): Service and Community Tag Badge variants
  InReach.code-workspace
  apps/app/public/locales/en/attribute.json
  packages/ui/.storybook/i18next.ts
  packages/ui/.storybook/main.ts
  packages/ui/components/core/Badge.stories.tsx
  packages/ui/components/core/Breadcrumb.stories.tsx
  packages/ui/components/core/Button.stories.tsx
  packages/ui/components/core/LeaderBadge.stories.tsx
  packages/ui/components/core/LeaderBadge.tsx
  packages/ui/components/core/LeaderBadgeGroup.stories.tsx
  packages/ui/components/core/LeaderBadgeGroup.tsx
  packages/ui/components/core/Link.stories.tsx
  packages/ui/components/core/Rating.stories.tsx
  packages/ui/components/core/Rating.tsx
  packages/ui/components/core/SocialMediaIconButton.stories.tsx
  packages/ui/components/core/VerifiedBadge.stories.tsx
  packages/ui/components/core/index.tsx
  packages/ui/package.json
  packages/ui/theme/common.ts
  packages/ui/theme/functions/badgeVariants.ts
  packages/ui/theme/functions/buttonVariants.ts
  packages/ui/theme/functions/index.ts
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 app, 📦 ui

#188 feat: anti-hate
  apps/app/public/locales/en/common.json
  packages/ui/components/core/AntiHateMessage.stories.tsx
  packages/ui/components/core/AntiHateMessage.tsx
  packages/ui/components/core/index.tsx
Labels: automerge, new-feature, 📦 app, 📦 ui

#186 feat: user avatar story
  apps/app/public/locales/en/common.json
  packages/ui/.storybook/mockAuthStates.ts
  packages/ui/components/core/UserAvatar.stories.tsx
  packages/ui/components/core/UserAvatar.tsx
  packages/ui/components/core/index.tsx
Labels: automerge, new-feature, 📦 app, 📦 ui

#185 feat(ui): Mobile Nav Icons
  apps/app/public/locales/en/common.json
  packages/ui/components/core/Badge.stories.tsx
  packages/ui/components/core/NavLink.stories.tsx
  packages/ui/components/core/NavLink.tsx
  packages/ui/components/core/index.tsx
  packages/ui/theme/common.ts
Labels: automerge, new-feature, 📦 app, 📦 ui

#193 feat: Icon component with predefined icon list
  packages/ui/components/core/Breadcrumb.tsx
  packages/ui/components/core/Button.stories.tsx
  packages/ui/components/core/NavLink.tsx
  packages/ui/components/core/Rating.tsx
  packages/ui/components/core/SocialMediaIconButton.tsx
  packages/ui/components/core/UserAvatar.tsx
  packages/ui/icon/buildIcons.ts
  packages/ui/icon/iconCollection.ts
  packages/ui/icon/iconList.ts
  packages/ui/icon/index.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Labels: new-feature, 📦 ui

#190 feat: instant feedback
  apps/app/public/locales/en/common.json
  packages/ui/components/core/InstantFeedback.stories.tsx
  packages/ui/components/core/InstantFeedback.tsx
  packages/ui/components/core/index.tsx
  packages/ui/icon/index.tsx
  packages/ui/theme/common.ts
Labels: automerge, new-feature, 📦 app, 📦 ui

#195 fix: styling tweaks
  .github/workflows/lint.yml
  packages/ui/.storybook/main.ts
  packages/ui/components/core/AntiHateMessage.stories.tsx
  packages/ui/components/core/Breadcrumb.stories.tsx
  packages/ui/components/core/Button.stories.tsx
  packages/ui/components/core/InstantFeedback.stories.tsx
  packages/ui/components/core/LeaderBadge.stories.tsx
  packages/ui/components/core/LeaderBadgeGroup.stories.tsx
  packages/ui/components/core/Link.stories.tsx
  packages/ui/components/core/MobileNav.stories.tsx
  packages/ui/components/core/MobileNav.tsx
  packages/ui/components/core/NavLink.stories.tsx
  packages/ui/components/core/NavLink.tsx
  packages/ui/components/core/Rating.stories.tsx
  packages/ui/components/core/SocialMediaIconButton.stories.tsx
  packages/ui/components/core/UserAvatar.stories.tsx
  packages/ui/components/core/VerifiedBadge.stories.tsx
  packages/ui/components/core/index.tsx
  packages/ui/theme/common.ts
  packages/ui/theme/functions/buttonVariants.ts
Labels: bugfix, 📦 ui

#196 fix: eslint configs
  .eslintrc.js
  .github/eslint-stylish.json
  .github/workflows/lint.yml
  .npmrc
  .prettierrc.js
  InReach.code-workspace
  apps/app/.eslintrc.js
  apps/app/lib/generate.ts
  apps/app/lib/generators/footer.ts
  apps/app/lib/generators/index.ts
  apps/app/lib/generators/navigation.ts
  apps/app/lib/generators/socialMedia.ts
  apps/app/lib/generators/translationKeys.ts
  apps/app/next-i18next.config.js
  apps/app/package.json
  apps/app/playwright.config.ts
  apps/web/.eslintrc.js
  apps/web/package.json
  lib/devmsg.ts
  lib/prepare.mts
  lib/prepare.ts
  package.json
  packages/api/.eslintrc.js
  packages/api/package.json
  packages/api/src/context.ts
  packages/auth/.eslintrc.js
  packages/auth/package.json
  packages/aws-messaging/.eslintrc.js
  packages/aws-user-migrate/.eslintrc.js
  packages/config/.eslintrc.js
  packages/config/lint-staged/next.js
  packages/config/tsconfig/base.json
  packages/db/.eslintrc.js
  packages/db/package.json
  packages/db/tsconfig.json
  packages/eslint-config/.eslintrc.js
  packages/eslint-config/base.js
  packages/eslint-config/index.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/storybook.js
  packages/types/.eslintrc.js
  packages/types/.lintstagedrc.js
  packages/types/.prettierignore
  packages/types/index.d.ts
  packages/types/package.json
  packages/types/tsconfig.json
  packages/ui/.eslintrc.js
  packages/ui/.storybook/i18next.ts
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/components/core/UserAvatar.stories.tsx
  packages/ui/icon/index.tsx
  packages/ui/layout/AppLayout.stories.tsx
  packages/ui/next-i18next.config.js
  packages/ui/package.json
  patches/eslint-plugin-node@11.1.0.patch
  pnpm-lock.yaml
  tsconfig.json
Labels: bugfix, 📦 types, 📦 app, 📦 db, 📦 web, 📦 api, 📦 ui, 📦 auth, 📦 config, 📦 eslint-config, 📦 aws-user-migrate, 📦 aws-messaging

#192 feat: User Review
  .github/workflows/lint.yml
  apps/app/public/locales/en/common.json
  apps/app/src/pages/_app.tsx
  packages/auth/next-auth.d.ts
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/mockAuthStates.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/components/core/AntiHateMessage.stories.tsx
  packages/ui/components/core/AntiHateMessage.tsx
  packages/ui/components/core/UserAvatar.stories.tsx
  packages/ui/components/core/UserAvatar.tsx
  packages/ui/components/core/UserReview.stories.tsx
  packages/ui/components/core/UserReview.tsx
  packages/ui/components/core/index.tsx
  packages/ui/package.json
  packages/ui/theme/common.ts
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 app, 📦 ui, 📦 auth

#204 fix: icon rendering issue
  .npmrc
  apps/app/src/pages/datatest.tsx
  packages/ui/components/core/MobileNav.tsx
  packages/ui/icon/iconCollection.ts
Labels: bugfix, 📦 app, 📦 ui

#201 feat: user review prompt
  apps/app/public/locales/en/common.json
  packages/ui/components/core/Button.tsx
  packages/ui/components/core/UserReview.tsx
  packages/ui/components/core/UserReviewSubmit.stories.tsx
  packages/ui/components/core/UserReviewSubmit.tsx
  packages/ui/components/core/index.tsx
Labels: automerge, new-feature, 📦 app, 📦 ui

#210 feat(ui): Alert message
  .github/workflows/cypress-steps.yml
  apps/app/public/locales/en-CA/common.json
  apps/app/public/locales/en/common.json
  package.json
  packages/api/index.ts
  packages/api/tsconfig.json
  packages/auth/next-auth/get-session.ts
  packages/auth/tsconfig.json
  packages/config/tsconfig.json
  packages/db/seed/data/01-user.ts
  packages/db/seed/migrate-v1/index.ts
  packages/db/seed/migrate-v1/org/generator.ts
  packages/db/seed/migrate-v1/org/lib/generateKey.ts
  packages/eslint-config/base.js
  packages/eslint-config/index.js
  packages/eslint-config/tsconfig.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/components/core/AlertMessage.stories.tsx
  packages/ui/components/core/AlertMessage.tsx
  packages/ui/components/core/Badge.tsx
  packages/ui/components/core/index.tsx
  packages/ui/components/layout/BodyGrid.stories.tsx
  packages/ui/components/layout/BodyGrid.tsx
  packages/ui/theme/common.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui, 📦 auth, 📦 config, 📦 eslint-config
