Repository weareinreach/InReach, pull requests merged in 2023-03, with the labels that each got.

#255 serviceFilterModal updates
  packages/ui/components/core/ServiceFilter.tsx
  packages/ui/theme/common.tsx
Labels: automerge, new-feature, 📦 ui

#264 feat: translation loading
  .env.example
  apps/app/lib/generators/translationKeys.ts
  apps/app/next-i18next.config.js
  apps/app/next-i18next.config.mjs
  apps/app/next.config.mjs
  apps/app/nextjs-routes.d.ts
  apps/app/package.json
  apps/app/public/locales/en/common.json
  apps/app/public/locales/en/country.json
  apps/app/public/locales/en/gov-dist.json
  apps/app/public/locales/en/phone-type.json
  apps/app/public/locales/en/user.json
  apps/app/src/data/crowdinOta.ts
  apps/app/src/data/footer.json
  apps/app/src/data/namespaces.ts
  apps/app/src/data/nav.json
  apps/app/src/data/navigation.json
  apps/app/src/data/socialMedia.json
  apps/app/src/pages/_app.tsx
  apps/app/src/pages/api/i18n/load.ts
  apps/app/src/pages/api/i18n/webhook.ts
  apps/app/src/pages/search/[...params]/index.tsx
  apps/app/src/types/reset.d.ts
  apps/app/src/utils/crowdin.ts
  apps/app/src/utils/i18n.ts
  apps/app/src/utils/redis.ts
  apps/app/tests-examples/demo-todo-app.spec.ts
  apps/web/package.json
  crowdin.yml
  docker/docker-compose.yml
  docs/package.json
  packages/api/generated/serviceCategory.ts
  packages/api/schemas/outputTransform/org.ts
  packages/api/schemas/selects/common.ts
  packages/api/schemas/selects/org.ts
  packages/config/lint-staged/index.js
  packages/db/package.json
  packages/db/prisma/migrations/20230301050710_/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/data/00-namespaces.ts
  packages/db/seed/migrate-v1/org/generator.ts
  packages/db/seed/migrate-v1/org/lib/generateKey.ts
  packages/db/seed/starter/08-services.ts
  packages/db/turbo.json
  packages/eslint-config/package.json
  packages/ui/.storybook/i18next.ts
  packages/ui/components/core/UserMenu.tsx
  packages/ui/components/sections/Navbar.tsx
  packages/ui/mockData/locationCard.ts
  packages/ui/mockData/searchResults.ts
  packages/ui/mockData/servicesInfoCard.ts
  packages/ui/package.json
  pnpm-lock.yaml
  turbo.json
Labels: new-feature, 📦 app, 📦 db, 📦 web, 📦 api, 📦 ui, 📦 config, 📦 eslint-config

#271 feat: Toolbar component (IN-716)
  packages/ui/components/core/ActionButtons.tsx
  packages/ui/components/core/Toolbar.stories.tsx
  packages/ui/components/core/Toolbar.tsx
  packages/ui/components/core/index.tsx
Labels: automerge, new-feature, 📦 ui

#274 feat(ui): Review Modal
  packages/ui/components/core/UserReviewSubmit.tsx
  packages/ui/modals/Review.stories.tsx
  packages/ui/modals/Review.tsx
  packages/ui/modals/settings.ts
Labels: automerge, new-feature, 📦 ui

#273 feat(ui): Quick Promotion Modal
  apps/app/public/locales/en/common.json
  packages/ui/modals/QuickPromotion.stories.tsx
  packages/ui/modals/QuickPromotion.tsx
  packages/ui/modals/settings.ts
  packages/ui/theme/common.tsx
Labels: automerge, new-feature, 📦 app, 📦 ui

#277 feat: location info card
  apps/app/next-i18next.config.mjs
  apps/app/package.json
  apps/app/public/locales/en/attribute.json
  apps/app/public/locales/en/common.json
  packages/api/router/review.ts
  packages/api/schemas/common.ts
  packages/api/schemas/selects/org.ts
  packages/db/prisma/schema.prisma
  packages/db/seed/data/09-attributes.ts
  packages/ui/.storybook/i18next.ts
  packages/ui/components/core/Badge.stories.tsx
  packages/ui/components/core/Badge.tsx
  packages/ui/components/core/Rating.stories.tsx
  packages/ui/components/core/Rating.tsx
  packages/ui/components/sections/LocationCard.stories.tsx
  packages/ui/components/sections/LocationCard.tsx
  packages/ui/mockData/locationCard.ts
  packages/ui/mockData/servicesInfoCard.ts
  packages/ui/package.json
  packages/ui/theme/common.tsx
  packages/ui/theme/variants/Card.ts
  packages/ui/theme/variants/List.ts
  packages/ui/theme/variants/Tooltip.ts
  packages/ui/theme/variants/index.ts
  pnpm-lock.yaml
Labels: new-feature, 📦 app, 📦 db, 📦 api, 📦 ui

#279 feat: visit card
  apps/app/public/locales/en/attribute.json
  apps/app/public/locales/en/common.json
  packages/api/schemas/selects/org.ts
  packages/db/prisma/migrations/20230309010125_/migration.sql
  packages/db/prisma/schema.prisma
  packages/ui/components/core/Badge.tsx
  packages/ui/components/sections/Contact.tsx
  packages/ui/components/sections/VisitCard.stories.tsx
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/mockData/locationCard.ts
Labels: new-feature, 📦 app, 📦 db, 📦 api, 📦 ui

#281 feat: reviews section
  apps/app/public/locales/en/common.json
  packages/ui/.storybook/decorators.tsx
  packages/ui/components/core/ActionButtons.tsx
  packages/ui/components/core/Rating.tsx
  packages/ui/components/core/UserReview.stories.tsx
  packages/ui/components/core/UserReview.tsx
  packages/ui/components/core/UserReviewSubmit.tsx
  packages/ui/components/sections/Reviews.stories.tsx
  packages/ui/components/sections/Reviews.tsx
  packages/ui/modals/settings.ts
  packages/ui/theme/variants/Skeleton.ts
  packages/ui/theme/variants/index.ts
Labels: new-feature, 📦 app, 📦 ui

#285 feat: sign up flow
  .npmrc
  apps/app/next-i18next.config.mjs
  apps/app/nextjs-routes.d.ts
  apps/app/public/locales/en/attribute.json
  apps/app/public/locales/en/common.json
  apps/app/src/pages/index.tsx
  apps/app/src/pages/profile/index.tsx
  packages/api/generated/attributeCategory.ts
  packages/api/generated/attributesByCategory.ts
  packages/api/generated/languages.ts
  packages/api/generated/locales.mjs
  packages/api/generated/serviceCategory.ts
  packages/api/generated/userRole.ts
  packages/api/generated/userType.ts
  packages/api/lib/context.ts
  packages/api/lib/generators/attributesByCategory.ts
  packages/api/lib/generators/index.ts
  packages/api/lib/generators/langs.ts
  packages/api/package.json
  packages/api/router/geo.ts
  packages/api/router/user.ts
  packages/api/schemas/create/freeText.ts
  packages/api/schemas/thirdParty/googleGeo.ts
  packages/auth/index.ts
  packages/auth/lib/cognitoClient.ts
  packages/auth/lib/genUserSession.ts
  packages/db/package.json
  packages/db/prisma/migrations/20230312175242_/migration.sql
  packages/db/prisma/migrations/20230312193218_/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/data/00-namespaces.ts
  packages/db/seed/data/02-languages.ts
  packages/db/seed/data/09-attributes.ts
  packages/db/seed/starter/09-attributes.ts
  packages/db/turbo.json
  packages/ui/.storybook/i18next.ts
  packages/ui/components/core/Breadcrumb.tsx
  packages/ui/components/core/Button.tsx
  packages/ui/components/core/UserAvatar.tsx
  packages/ui/components/core/UserMenu.tsx
  packages/ui/mockData/locationSearch.ts
  packages/ui/modals/Login.tsx
  packages/ui/modals/ModalTitle.tsx
  packages/ui/modals/QuickPromotion.tsx
  packages/ui/modals/SignUp.stories.tsx
  packages/ui/modals/SignUp.tsx
  packages/ui/modals/SignUp/context.ts
  packages/ui/modals/SignUp/fields.tsx
  packages/ui/modals/SignUp/index.stories.tsx
  packages/ui/modals/SignUp/index.tsx
  packages/ui/modals/settings.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: new-feature, 📦 app, 📦 db, 📦 api, 📦 ui, 📦 auth

#292 feat: service section card
  apps/app/public/locales/en/common.json
  packages/api/router/location/queries.ts
  packages/api/router/organization/queries.ts
  packages/api/router/service/queries.ts
  packages/ui/components/core/Badge.tsx
  packages/ui/components/sections/ServicesInfo.stories.tsx
  packages/ui/components/sections/ServicesInfo.tsx
  packages/ui/theme/common.tsx
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui

#297 feat: data updates
  packages/api/router/organization/queries.ts
  packages/api/schemas/selects/common.ts
  packages/api/schemas/selects/org.ts
  packages/api/schemas/selects/orgService.ts
  packages/ui/mockData/locationCard.ts
  packages/ui/mockData/serviceModal.ts
  packages/ui/mockData/servicesInfoCard.ts
Labels: new-feature, 📦 api, 📦 ui

#296 feat: org detail pages
  apps/app/next-i18next.config.mjs
  apps/app/public/locales/en/common.json
  apps/app/src/pages/_app.tsx
  apps/app/src/pages/_document.tsx
  apps/app/src/pages/index.tsx
  apps/app/src/pages/org/[slug]/[orgLocationId].tsx
  apps/app/src/pages/org/[slug]/index.tsx
  apps/app/src/utils/i18n.ts
  packages/api/router/location/queries.ts
  packages/api/router/organization/queries.ts
  packages/api/router/review.ts
  packages/api/router/savedLists.ts
  packages/api/schemas/selects/org.ts
  packages/db/prisma/migrations/20230314204254_/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/data/09-attributes.ts
  packages/ui/.storybook/main.ts
  packages/ui/components/core/ActionButtons.tsx
  packages/ui/components/core/AlertMessage.stories.tsx
  packages/ui/components/core/AlertMessage.tsx
  packages/ui/components/core/AntiHateMessage.stories.tsx
  packages/ui/components/core/AntiHateMessage.tsx
  packages/ui/components/core/Badge.stories.tsx
  packages/ui/components/core/Badge.tsx
  packages/ui/components/core/Rating.stories.tsx
  packages/ui/components/core/Rating.tsx
  packages/ui/components/core/SearchResultCard.stories.tsx
  packages/ui/components/core/Toolbar.tsx
  packages/ui/components/core/UserReviewSubmit.stories.tsx
  packages/ui/components/core/UserReviewSubmit.tsx
  packages/ui/components/sections/Contact.stories.tsx
  packages/ui/components/sections/Contact.tsx
  packages/ui/components/sections/ListingBasicInfo.tsx
  packages/ui/components/sections/LocationCard.stories.tsx
  packages/ui/components/sections/LocationCard.tsx
  packages/ui/components/sections/Navbar.tsx
  packages/ui/components/sections/Photos.stories.tsx
  packages/ui/components/sections/Photos.tsx
  packages/ui/components/sections/Reviews.stories.tsx
  packages/ui/components/sections/Reviews.tsx
  packages/ui/components/sections/ServicesInfo.stories.tsx
  packages/ui/components/sections/ServicesInfo.tsx
  packages/ui/components/sections/VisitCard.stories.tsx
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/components/sections/index.ts
  packages/ui/hooks/index.ts
  packages/ui/hooks/useFormattedAddress.ts
  packages/ui/layouts/BodyGrid.tsx
  packages/ui/package.json
  packages/ui/theme/common.tsx
  packages/ui/theme/variants/List.ts
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui

#302 feat: landing page
  apps/app/package.json
  apps/app/public/apple-icon-120x120.png
  apps/app/public/apple-icon-180x180.png
  apps/app/public/locales/en/common.json
  apps/app/public/locales/en/landingPage.json
  apps/app/src/pages/_app.tsx
  apps/app/src/pages/_document.tsx
  apps/app/src/pages/index.tsx
  packages/db/seed/migrate-v1/reviews/generator.ts
  packages/eslint-config/base.js
  packages/ui/assets/inreach.svg
  packages/ui/components/core/MobileNav.tsx
  packages/ui/components/core/UserReview.tsx
  packages/ui/components/core/UserReviewSubmit.tsx
  packages/ui/components/sections/CallOut.stories.tsx
  packages/ui/components/sections/CallOut.tsx
  packages/ui/components/sections/Footer.tsx
  packages/ui/components/sections/Hero.stories.tsx
  packages/ui/components/sections/Hero.tsx
  packages/ui/components/sections/Navbar.tsx
  packages/ui/components/sections/index.ts
  packages/ui/theme/common.tsx
  packages/ui/theme/variants/Anchor.ts
  packages/ui/theme/variants/index.ts
  pnpm-lock.yaml
Labels: new-feature, 📦 app, 📦 db, 📦 ui, 📦 eslint-config

#291 feat: Service modal body (IN-767)
  apps/app/public/locales/en/common.json
  packages/db/seed/data/09-attributes.ts
  packages/ui/components/core/Badge.tsx
  packages/ui/components/sections/ServicesInfo.stories.tsx
  packages/ui/components/sections/ServicesInfo.tsx
  packages/ui/mockData/serviceModal.ts
  packages/ui/modals/Service.stories.tsx
  packages/ui/modals/Service.tsx
  packages/ui/modals/settings.ts
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui

#315 chore(i18n): Updated translations from Crowdin
  ar/attribute.json
  ar/common.json
  ar/country.json
  ar/footer.json
  ar/gov-dist.json
  ar/landingPage.json
  ar/nav.json
  ar/phone-type.json
  ar/services.json
  ar/socialMedia.json
  ar/user.json
  es/attribute.json
  es/common.json
  es/country.json
  es/footer.json
  es/gov-dist.json
  es/landingPage.json
  es/nav.json
  es/phone-type.json
  es/services.json
  es/socialMedia.json
  es/user.json
  fr/attribute.json
  fr/common.json
  fr/country.json
  fr/footer.json
  fr/gov-dist.json
  fr/landingPage.json
  fr/nav.json
  fr/phone-type.json
  fr/services.json
  fr/socialMedia.json
  fr/user.json
  ru/attribute.json
  ru/common.json
  ru/country.json
  ru/footer.json
  ru/gov-dist.json
  ru/landingPage.json
  ru/nav.json
  ru/phone-type.json
  ru/services.json
  ru/socialMedia.json
  ru/user.json
  xx-XX/attribute.json
  xx-XX/common.json
  xx-XX/country.json
  xx-XX/footer.json
  xx-XX/gov-dist.json
  xx-XX/landingPage.json
  xx-XX/nav.json
  xx-XX/phone-type.json
  xx-XX/services.json
  xx-XX/socialMedia.json
  xx-XX/user.json
Labels: automerge, translations, kodiak: merge.method = 'squash'

#320 fix: deployment issues
  .github/workflows/crowdin.yml
  InReach.code-workspace
  apps/app/next-i18next.config.mjs
  apps/app/package.json
  apps/app/public/locales/en/common.json
  apps/app/src/pages/_document.tsx
  apps/app/src/pages/api/i18n/load.ts
  apps/app/src/pages/org/[slug]/[orgLocationId].tsx
  apps/app/src/pages/org/[slug]/index.tsx
  crowdin.yml
  packages/api/router/geo.ts
  packages/aws-cache/.eslintrc.js
  packages/aws-cache/.gitignore
  packages/aws-cache/.lintstagedrc.cjs
  packages/aws-cache/README.TOOLKIT.md
  packages/aws-cache/README.md
  packages/aws-cache/package.json
  packages/aws-cache/samconfig.toml
  packages/aws-cache/src/index.ts
  packages/aws-cache/template.yaml
  packages/aws-cache/tsconfig.json
  packages/ui/components/core/MobileNav.tsx
  packages/ui/components/core/UserAvatar.tsx
  packages/ui/components/sections/Contact.tsx
  pnpm-lock.yaml
Labels: bugfix, new-feature, 📦 app, 📦 api, 📦 ui, 📦 aws-cache

#323 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ar/attribute.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/ar/country.json
  apps/app/public/locales/ar/nav.json
  apps/app/public/locales/ar/phone-type.json
  apps/app/public/locales/ar/socialMedia.json
  apps/app/public/locales/ar/user.json
  apps/app/public/locales/es/attribute.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/country.json
  apps/app/public/locales/es/nav.json
  apps/app/public/locales/es/phone-type.json
  apps/app/public/locales/es/socialMedia.json
  apps/app/public/locales/es/user.json
  apps/app/public/locales/fr/attribute.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/fr/country.json
  apps/app/public/locales/fr/nav.json
  apps/app/public/locales/fr/phone-type.json
  apps/app/public/locales/fr/socialMedia.json
  apps/app/public/locales/fr/user.json
  apps/app/public/locales/ru/attribute.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/ru/country.json
  apps/app/public/locales/ru/nav.json
  apps/app/public/locales/ru/phone-type.json
  apps/app/public/locales/ru/socialMedia.json
  apps/app/public/locales/ru/user.json
  apps/app/public/locales/xx-XX/attribute.json
  apps/app/public/locales/xx-XX/common.json
  apps/app/public/locales/xx-XX/country.json
  apps/app/public/locales/xx-XX/footer.json
  apps/app/public/locales/xx-XX/gov-dist.json
  apps/app/public/locales/xx-XX/landingPage.json
  apps/app/public/locales/xx-XX/nav.json
  apps/app/public/locales/xx-XX/phone-type.json
  apps/app/public/locales/xx-XX/services.json
  apps/app/public/locales/xx-XX/socialMedia.json
  apps/app/public/locales/xx-XX/user.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#330 feat: google map embed
  apps/app/src/pages/org/[slug]/index.tsx
  apps/app/turbo.json
  packages/ui/.storybook/preview.tsx
  packages/ui/babel.config.json
  packages/ui/components/core/GoogleMap.tsx
  packages/ui/components/core/LocationPin.tsx
  packages/ui/components/core/index.tsx
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/hooks/useFormattedAddress.ts
  packages/ui/icon/iconCollection.ts
  packages/ui/icon/iconList.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: new-feature, 📦 app, 📦 ui

#333 release: alpha3
  .github/workflows/codeql.yml
  .github/workflows/codesee-arch-diagram.yml
  .github/workflows/stale.yml
  apps/app/package.json
  apps/app/src/pages/org/[slug]/index.tsx
  apps/app/turbo.json
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/config/package.json
  packages/db/package.json
  packages/eslint-config/package.json
  packages/ui/.storybook/preview.tsx
  packages/ui/babel.config.json
  packages/ui/components/core/GoogleMap.tsx
  packages/ui/components/core/LocationPin.tsx
  packages/ui/components/core/index.tsx
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/hooks/useFormattedAddress.ts
  packages/ui/icon/iconCollection.ts
  packages/ui/icon/iconList.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: release

#336 fix: display timezone name, parse supplement data
  apps/app/public/locales/en/common.json
  apps/app/src/pages/api/trpc/[trpc].ts
  apps/app/turbo.json
  packages/api/generated/attributeCategory.ts
  packages/api/generated/attributesByCategory.ts
  packages/api/generated/serviceCategory.ts
  packages/api/generated/userRole.ts
  packages/api/generated/userType.ts
  packages/api/schemas/attributeSupplement.ts
  packages/api/schemas/selects/org.ts
  packages/api/schemas/selects/orgService.ts
  packages/api/turbo.json
  packages/aws-user-migrate/package.json
  packages/db/index.ts
  packages/db/lib/attrSuppDataMiddleware.ts
  packages/db/package.json
  packages/db/prisma/migrations/20230324153741_add_tz/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/turbo.json
  packages/db/zod_util/attributeSupplement.ts
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/mockData/locationCard.ts
  packages/ui/mockData/serviceModal.ts
  packages/ui/mockData/servicesInfoCard.ts
  packages/ui/modals/Service.tsx
  pnpm-lock.yaml
  turbo.json
Labels: bugfix, 📦 app, 📦 db, 📦 api, 📦 ui, 📦 aws-user-migrate

#329 feat(ui): updating modals to polymorphic component
  apps/app/public/locales/en/common.json
  apps/app/src/pages/_app.tsx
  packages/ui/.storybook/decorators.tsx
  packages/ui/components/core/UserMenu.tsx
  packages/ui/mockData/login.ts
  packages/ui/modals/DeleteModal.stories.tsx
  packages/ui/modals/DeleteModal.tsx
  packages/ui/modals/ForgotPassword.stories.tsx
  packages/ui/modals/ForgotPassword.tsx
  packages/ui/modals/Login.stories.tsx
  packages/ui/modals/Login.tsx
  packages/ui/modals/QuickPromotion.stories.tsx
  packages/ui/modals/QuickPromotion.tsx
  packages/ui/modals/Review.stories.tsx
  packages/ui/modals/Review.tsx
  packages/ui/modals/ServiceFilter.tsx
  packages/ui/modals/SignUp/index.stories.tsx
  packages/ui/modals/SignUp/index.tsx
  packages/ui/modals/index.ts
  packages/ui/modals/settings.ts
Labels: automerge, refactor, 📦 app, 📦 ui

#337 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/xx-XX/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#341 feat: search filters
  apps/app/public/locales/en/common.json
  apps/app/src/pages/_app.tsx
  apps/app/src/pages/search/[...params]/index.tsx
  packages/api/package.json
  packages/api/prisma/org.ts
  packages/api/router/organization/queries.ts
  packages/api/schemas/common.ts
  packages/api/schemas/filters/index.ts
  packages/api/schemas/filters/org.ts
  packages/api/schemas/org/search.ts
  packages/api/schemas/selects/org.ts
  packages/db/package.json
  packages/ui/components/core/ActionButtons.tsx
  packages/ui/components/core/PageLoadProgress.tsx
  packages/ui/components/core/SearchBox.tsx
  packages/ui/components/core/SearchResultCard.stories.tsx
  packages/ui/components/core/SearchResultCard.tsx
  packages/ui/components/core/index.tsx
  packages/ui/components/sections/Hero.tsx
  packages/ui/components/sections/SearchResultSidebar.tsx
  packages/ui/lib/getTrpcMock.ts
  packages/ui/mockData/searchResults.ts
  packages/ui/modals/MoreFilter.stories.tsx
  packages/ui/modals/MoreFilter.tsx
  packages/ui/modals/ServiceFilter.stories.tsx
  packages/ui/modals/ServiceFilter.tsx
  packages/ui/theme/variants/index.ts
  pnpm-lock.yaml
Labels: new-feature, 📦 app, 📦 db, 📦 api, 📦 ui

#343 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/xx-XX/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#345 release: alpha5
  .github/workflows/codeql.yml
  apps/app/package.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/en/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/xx-XX/common.json
  apps/app/src/pages/_app.tsx
  apps/app/src/pages/search/[...params]/index.tsx
  apps/web/package.json
  package.json
  packages/api/package.json
  packages/api/prisma/org.ts
  packages/api/router/organization/queries.ts
  packages/api/schemas/common.ts
  packages/api/schemas/filters/index.ts
  packages/api/schemas/filters/org.ts
  packages/api/schemas/org/search.ts
  packages/api/schemas/selects/org.ts
  packages/auth/package.json
  packages/aws-cache/package.json
  packages/aws-messaging/package.json
  packages/aws-user-migrate/package.json
  packages/config/package.json
  packages/db/package.json
  packages/eslint-config/package.json
  packages/ui/components/core/ActionButtons.tsx
  packages/ui/components/core/PageLoadProgress.tsx
  packages/ui/components/core/SearchBox.tsx
  packages/ui/components/core/SearchResultCard.stories.tsx
  packages/ui/components/core/SearchResultCard.tsx
  packages/ui/components/core/index.tsx
  packages/ui/components/sections/Hero.tsx
  packages/ui/components/sections/SearchResultSidebar.tsx
  packages/ui/lib/getTrpcMock.ts
  packages/ui/mockData/searchResults.ts
  packages/ui/modals/MoreFilter.stories.tsx
  packages/ui/modals/MoreFilter.tsx
  packages/ui/modals/ServiceFilter.stories.tsx
  packages/ui/modals/ServiceFilter.tsx
  packages/ui/package.json
  packages/ui/theme/variants/index.ts
  pnpm-lock.yaml
Labels: release

#348 bugfix: Properly display special characters in Organization name
  packages/ui/components/core/Breadcrumb.stories.tsx
  packages/ui/components/core/Breadcrumb.tsx
Labels: bugfix, automerge, 📦 ui

#346 feat: finalize user signup/reset password process
  .github/workflows/crowdin.yml
  apps/app/public/locales/en/common.json
  apps/app/public/locales/es/common.json
  apps/app/src/pages/index.tsx
  lib/postinstall.ts
  package.json
  packages/api/generated/attributeCategory.ts
  packages/api/generated/attributesByCategory.ts
  packages/api/lib/encodeUrl.ts
  packages/api/lib/index.ts
  packages/api/package.json
  packages/api/router/user.ts
  packages/api/schemas/create/user.ts
  packages/auth/lib/confirmAccount.ts
  packages/auth/lib/createUser.ts
  packages/auth/lib/forgotPassword.ts
  packages/auth/lib/getBaseUrl.ts
  packages/auth/lib/index.ts
  packages/auth/lib/resetPassword.ts
  packages/auth/lib/userLogin.ts
  packages/auth/package.json
  packages/auth/providers/cognito.ts
  packages/aws-cache/template.yaml
  packages/aws-messaging/package.json
  packages/aws-messaging/samconfig.toml
  packages/aws-messaging/src/index.ts
  packages/aws-messaging/template.yaml
  packages/aws-user-migrate/build.sh
  packages/aws-user-migrate/package.json
  packages/aws-user-migrate/samconfig.toml
  packages/aws-user-migrate/src/client.ts
  packages/aws-user-migrate/src/getUser.ts
  packages/aws-user-migrate/src/index.ts
  packages/aws-user-migrate/src/verifyUser.ts
  packages/aws-user-migrate/template.yaml
  packages/aws-user-migrate/tsconfig.json
  packages/config/package.json
  packages/db/index.ts
  packages/ui/.storybook/i18next.ts
  packages/ui/.storybook/main.ts
  packages/ui/lib/getTrpcMock.ts
  packages/ui/lib/trpcResponse.ts
  packages/ui/modals/AccountVerified.stories.tsx
  packages/ui/modals/AccountVerified.tsx
  packages/ui/modals/ForgotPassword.stories.tsx
  packages/ui/modals/ForgotPassword.tsx
  packages/ui/modals/ResetPassword.stories.tsx
  packages/ui/modals/ResetPassword.tsx
  packages/ui/modals/SignUp/context.ts
  packages/ui/modals/SignUp/index.tsx
  packages/ui/modals/index.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: new-feature, 📦 app, 📦 db, 📦 api, 📦 ui, 📦 auth, 📦 config, 📦 aws-user-migrate, 📦 aws-messaging, 📦 aws-cache

#354 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/ar/country.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/country.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/fr/country.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/ru/country.json
  apps/app/public/locales/xx-XX/attribute.json
  apps/app/public/locales/xx-XX/common.json
  apps/app/public/locales/xx-XX/country.json
  apps/app/public/locales/xx-XX/gov-dist.json
  apps/app/public/locales/xx-XX/landingPage.json
  apps/app/public/locales/xx-XX/phone-type.json
  apps/app/public/locales/xx-XX/services.json
  apps/app/public/locales/xx-XX/user.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#360 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/xx-XX/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#358 feat: Suggest an org page
  .github/workflows/chromatic.yml
  .github/workflows/lint.yml
  .gitignore
  apps/app/public/locales/en/common.json
  apps/app/public/locales/en/suggestOrg.json
  apps/app/src/pages/suggest.tsx
  apps/app/turbo.json
  package.json
  packages/api/lib/generators/index.ts
  packages/api/lib/middleware/basicAuth.ts
  packages/api/package.json
  packages/api/router/geo.ts
  packages/api/router/organization/lib.ts
  packages/api/router/organization/mutations.ts
  packages/api/router/organization/queries.ts
  packages/api/schemas/common.ts
  packages/api/schemas/create/browserSafe/suggestOrg.ts
  packages/api/schemas/create/organization.ts
  packages/api/schemas/selects/org.ts
  packages/api/schemas/thirdParty/googleGeo.ts
  packages/db/index.ts
  packages/db/lib/idGen.ts
  packages/db/lib/idMiddleware.ts
  packages/db/lib/superjsonMiddleware.ts
  packages/db/package.json
  packages/db/prisma/data-migrations/2023-03-29.ts
  packages/db/prisma/data-migrations/2023-03-31.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/prisma/dataMigrationRunner.ts
  packages/db/prisma/jobPreRun.ts
  packages/db/prisma/migrations/20230329180000_add_suggestion_table/migration.sql
  packages/db/prisma/migrations/20230329210754_attribute_nesting/migration.sql
  packages/db/prisma/migrations/20230329222115_data_migration_table/migration.sql
  packages/db/prisma/migrations/20230329223133_add_job_id_field/migration.sql
  packages/db/prisma/migrations/20230330192026_cascade/migration.sql
  packages/db/prisma/migrations/20230331195719_add_handled_field/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/turbo.json
  packages/db/zod_util/attributeSupplement.ts
  packages/ui/.storybook/decorators.tsx
  packages/ui/.storybook/preview.tsx
  packages/ui/components/sections/SuggestOrg/context.ts
  packages/ui/components/sections/SuggestOrg/index.stories.tsx
  packages/ui/components/sections/SuggestOrg/index.tsx
  packages/ui/components/sections/SuggestOrg/modals.tsx
  packages/ui/lib/getTrpcMock.ts
  packages/ui/lib/trpcResponse.ts
  packages/ui/mockData/geo.ts
  packages/ui/mockData/locationSearch.ts
  packages/ui/mockData/suggestOrg.ts
  packages/ui/modals/QuickPromotion.tsx
  packages/ui/modals/SignUp/fields.tsx
  packages/ui/modals/SignUp/index.stories.tsx
  packages/ui/theme/variants/Button.ts
  pnpm-lock.yaml
  turbo.json
Labels: new-feature, 📦 app, 📦 db, 📦 api, 📦 ui
