Repository weareinreach/InReach, pull requests merged in 2023-12, with the labels that each got.

#938 refactor: move superjson instance to @weareinreach/util
  InReach.code-workspace
  apps/app/next.config.mjs
  apps/app/src/utils/api.ts
  packages/api/lib/index.ts
  packages/api/lib/initTRPC.ts
  packages/api/lib/transformer.ts
  packages/api/package.json
  packages/api/router/organization/query.getIntlCrisis.handler.ts
  packages/api/router/organization/query.getNatlCrisis.handler.ts
  packages/api/router/service/query.forServiceDrawer.handler.ts
  packages/api/router/service/query.forServiceEditDrawer.handler.ts
  packages/api/router/system/mutation.updateInactiveCountryEdgeConfig.handler.ts
  packages/api/schemas/attributeSupplements/accessInstructions.ts
  packages/api/schemas/common.ts
  packages/api/trpc/client.ts
  packages/api/trpc/ssr.ts
  packages/db/lib/superjsonMiddleware.ts
  packages/db/zod_util/prismaJson.ts
  packages/ui/.storybook/decorators.tsx
  packages/ui/components/sections/ServicesInfo.tsx
  packages/ui/lib/getTrpcMock.ts
  packages/ui/lib/trpcClient.ts
  packages/ui/lib/trpcResponse.ts
  packages/util/transformer/index.ts
  pnpm-lock.yaml
Labels: automerge, refactor, 📦 app, 📦 db, 📦 api, 📦 ui, 📦 util

#939 fix: alert messages
  packages/api/router/organization/query.getAlerts.handler.ts
  packages/db/prisma/data-migrations/2023-12-05_alert-messages.ts
  packages/db/prisma/data-migrations/index.ts
Labels: bugfix, automerge, maintenance, 📦 db, 📦 api, kodiak: merge.method = 'squash'

#640 feat(IN-839) Hours display and Hours drawer
  InReach.code-workspace
  apps/app/public/locales/en/common.json
  packages/api/router/orgHours/index.ts
  packages/api/router/orgHours/mutation.processDrawer.handler.ts
  packages/api/router/orgHours/mutation.processDrawer.schema.ts
  packages/api/router/orgHours/query.forHoursDisplay.handler.ts
  packages/api/router/orgHours/query.forHoursDisplay.schema.ts
  packages/api/router/orgHours/query.forHoursDrawer.handler.ts
  packages/api/router/orgHours/query.forHoursDrawer.schema.ts
  packages/api/router/orgHours/query.getTz.handler.ts
  packages/api/router/orgHours/query.getTz.schema.ts
  packages/api/router/orgHours/schemas.ts
  packages/eslint-config/.eslintrc.js
  packages/eslint-config/base.js
  packages/ui/.storybook/decorators.tsx
  packages/ui/.storybook/decorators/GoogleMaps.tsx
  packages/ui/.storybook/decorators/I18Next.tsx
  packages/ui/.storybook/decorators/Layouts.tsx
  packages/ui/.storybook/decorators/Mantine.tsx
  packages/ui/.storybook/decorators/SearchState.tsx
  packages/ui/.storybook/decorators/StrictMode.tsx
  packages/ui/.storybook/decorators/Trpc.tsx
  packages/ui/.storybook/decorators/WhyDidYouRender.tsx
  packages/ui/.storybook/decorators/index.ts
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/mockAuthStates.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/.storybook/viewports.ts
  packages/ui/.storybook/wdyr.ts
  packages/ui/components/data-display/Hours.tsx
  packages/ui/components/data-portal/HoursDrawer/fieldArray.ts
  packages/ui/components/data-portal/HoursDrawer/index.stories.tsx
  packages/ui/components/data-portal/HoursDrawer/index.tsx
  packages/ui/components/data-portal/HoursDrawer/schema.ts
  packages/ui/components/data-portal/HoursDrawer/styles.ts
  packages/ui/components/data-portal/TimeRange/index.stories.tsx
  packages/ui/components/data-portal/TimeRange/index.tsx
  packages/ui/hooks/index.ts
  packages/ui/hooks/useLocalizedDays.ts
  packages/ui/lib/getTrpcMock.ts
  packages/ui/lib/trpcClient.ts
  packages/ui/mockData/orgHours.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui, 📦 eslint-config, kodiak: merge.method = 'squash', 📦 util, 📦 crowdin

#946 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/af/common.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/de-DE/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/hi/common.json
  apps/app/public/locales/ht/common.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/ko/gov-dist.json
  apps/app/public/locales/pl/common.json
  apps/app/public/locales/ps/common.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/sw/common.json
  apps/app/public/locales/tl/common.json
  apps/app/public/locales/uk/common.json
  apps/app/public/locales/zh/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#422 feat: Modal coverage area (IN-834)
  apps/app/public/locales/en/common.json
  apps/app/src/providers/index.tsx
  packages/api/router/fieldOpt/index.ts
  packages/api/router/fieldOpt/query.countries.schema.ts
  packages/api/router/fieldOpt/query.getSubDistricts.handler.ts
  packages/api/router/fieldOpt/query.getSubDistricts.schema.ts
  packages/api/router/fieldOpt/query.govDists.handler.ts
  packages/api/router/fieldOpt/query.govDists.schema.ts
  packages/api/router/fieldOpt/schemas.ts
  packages/api/router/index.ts
  packages/api/router/serviceArea/index.ts
  packages/api/router/serviceArea/mutation.update.handler.ts
  packages/api/router/serviceArea/mutation.update.schema.ts
  packages/api/router/serviceArea/query.getServiceArea.handler.ts
  packages/api/router/serviceArea/query.getServiceArea.schema.ts
  packages/api/router/serviceArea/schemas.ts
  packages/ui/.storybook/i18next.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/components/core/Breadcrumb.tsx
  packages/ui/components/data-portal/PhoneNumberEntry.tsx
  packages/ui/icon/iconList.ts
  packages/ui/lib/getTrpcMock.ts
  packages/ui/lib/trpcResponse.ts
  packages/ui/mockData/fieldOpt.ts
  packages/ui/mockData/json/fieldOpt.attributeCategories.json
  packages/ui/mockData/json/fieldOpt.attributesByCategory.json
  packages/ui/mockData/json/fieldOpt.countries.json
  packages/ui/mockData/json/fieldOpt.countryGovDistMap.json
  packages/ui/mockData/json/fieldOpt.getSubDistricts.json
  packages/ui/mockData/json/fieldOpt.govDists.json
  packages/ui/mockData/json/fieldOpt.govDistsByCountry.json
  packages/ui/mockData/json/fieldOpt.govDistsByCountryNoSub.json
  packages/ui/mockData/json/fieldOpt.languages.json
  packages/ui/mockData/json/fieldOpt.phoneTypes.json
  packages/ui/mockData/serviceArea.ts
  packages/ui/modals/CoverageArea/hooks.ts
  packages/ui/modals/CoverageArea/index.stories.tsx
  packages/ui/modals/CoverageArea/index.tsx
  packages/ui/modals/CoverageArea/schema.ts
  packages/ui/modals/CoverageArea/styles.ts
  packages/ui/modals/index.ts
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#965 feat: edit socials in footer
  packages/ui/components/sections/Footer.tsx
Labels: automerge, new-feature, 📦 ui

#961 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/af/common.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/de-DE/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/hi/common.json
  apps/app/public/locales/ht/common.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/pl/common.json
  apps/app/public/locales/ps/common.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/sw/common.json
  apps/app/public/locales/tl/common.json
  apps/app/public/locales/tr-TR/attribute.json
  apps/app/public/locales/tr-TR/common.json
  apps/app/public/locales/tr-TR/country.json
  apps/app/public/locales/tr-TR/gov-dist.json
  apps/app/public/locales/tr-TR/landingPage.json
  apps/app/public/locales/tr-TR/phone-type.json
  apps/app/public/locales/tr-TR/services.json
  apps/app/public/locales/tr-TR/suggestOrg.json
  apps/app/public/locales/tr-TR/user-title.json
  apps/app/public/locales/tr-TR/user.json
  apps/app/public/locales/uk/common.json
  apps/app/public/locales/zh/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#968 release: 2023-12-21b
  packages/ui/modals/ServiceFilter/index.tsx
Labels: automerge, release

#974 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/es/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'
