Repository weareinreach/InReach, pull requests merged in 2023-09, with the labels that each got.

#771 fix: unauthed review click should show login modal
  packages/ui/components/core/ActionButtons.tsx
Labels: bugfix, automerge, 📦 ui

#776 feat: add languages
  .gitmodules
  apps/app/lib/generate.ts
  apps/app/lib/generators/footer.ts
  apps/app/lib/generators/index.ts
  apps/app/lib/generators/navigation.ts
  apps/app/lib/generators/socialMedia.ts
  apps/app/next-i18next.config.mjs
  apps/app/package.json
  apps/app/src/types/nextjs-routes.d.ts
  packages/db/generated/languages.ts
  packages/db/generated/locales.mjs
  packages/db/generated/serviceCategory.ts
  packages/db/lib/generators/langs.ts
  packages/db/prisma/data-migrations/2023-09-18_enable-and-sort-languages.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/prisma/migrations/20230918203335_language_sorting_and_grouping/migration.sql
  packages/db/prisma/schema.prisma
Labels: automerge, new-feature, 📦 app, 📦 db

#780 chore: add orgs for trans relo service
  packages/api/router/location/query.forVisitCard.handler.ts
  packages/api/router/organization/query.searchDistance.handler.ts
  packages/db/.gitignore
  packages/db/lib/generateFreeText.ts
  packages/db/prisma/data-migrations/2023-09-19_add-orgs-trans-relo-support/data.json
  packages/db/prisma/data-migrations/2023-09-19_add-orgs-trans-relo-support/index.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/prisma/migrations/20230919195335_/migration.sql
  packages/db/prisma/migrations/20230919220535_/migration.sql
  packages/db/prisma/schema.prisma
  packages/ui/components/core/Badge.tsx
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/modals/Service.tsx
Labels: bugfix, automerge, maintenance, 📦 db, 📦 api, 📦 ui

#786 fix: access instruction data
  apps/app/public/locales/en/services.json
  packages/db/prisma/data-migrations/2023-09-20_fix-access-instructions/data.json
  packages/db/prisma/data-migrations/2023-09-20_fix-access-instructions/index.ts
  packages/db/prisma/data-migrations/index.ts
Labels: bugfix, automerge, 📦 app, 📦 db

#787 chore: add service tags to services
  packages/db/client/extensions/auditContext.ts
  packages/db/index.ts
  packages/db/lib/audit.ts
  packages/db/prisma/data-migrations/2023-09-20_update-services.ts
  packages/db/prisma/data-migrations/index.ts
Labels: automerge, maintenance, 📦 db

#789 chore: data updates
  packages/db/prisma/data-migrations/2023-09-22_service-areas.ts
  packages/db/prisma/data-migrations/2023-09-22_update-alerts/data.json
  packages/db/prisma/data-migrations/2023-09-22_update-alerts/index.ts
  packages/db/prisma/data-migrations/index.ts
Labels: automerge, maintenance, 📦 db

#778 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/af/services.json
  apps/app/public/locales/ar/services.json
  apps/app/public/locales/es/services.json
  apps/app/public/locales/fa/services.json
  apps/app/public/locales/fr/attribute.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/fr/country.json
  apps/app/public/locales/fr/services.json
  apps/app/public/locales/hi/services.json
  apps/app/public/locales/ht/services.json
  apps/app/public/locales/ja/services.json
  apps/app/public/locales/ko/attribute.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/ko/country.json
  apps/app/public/locales/ko/gov-dist.json
  apps/app/public/locales/ko/landingPage.json
  apps/app/public/locales/ko/services.json
  apps/app/public/locales/ko/suggestOrg.json
  apps/app/public/locales/ko/user.json
  apps/app/public/locales/pl/services.json
  apps/app/public/locales/ps/services.json
  apps/app/public/locales/pt/services.json
  apps/app/public/locales/ru/gov-dist.json
  apps/app/public/locales/ru/landingPage.json
  apps/app/public/locales/ru/services.json
  apps/app/public/locales/ru/user.json
  apps/app/public/locales/sw/services.json
  apps/app/public/locales/tl/services.json
  apps/app/public/locales/uk/services.json
  apps/app/public/locales/zh/services.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#796 chore: crowdin action config
  .github/workflows/crowdin.yml
  apps/app/public/locales/fr/common.json
Labels: automerge, maintenance, translations, 📦 app

#793 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/fr/services.json
  apps/app/public/locales/ko/attribute.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/ko/services.json
  apps/app/public/locales/ko/suggestOrg.json
  apps/app/public/locales/ko/user.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#807 feat: analytics
  .github/workflows/nextjs_bundle_analysis.yml
  InReach.code-workspace
  README.md
  apps/app/next.config.mjs
  apps/app/package.json
  apps/app/public/locales/en/common.json
  apps/app/src/pages/_app.tsx
  apps/app/src/providers/index.tsx
  packages/analytics/.eslintrc.js
  packages/analytics/.lintstagedrc.js
  packages/analytics/events/index.ts
  packages/analytics/events/types.ts
  packages/analytics/lib/event.ts
  packages/analytics/package.json
  packages/analytics/tsconfig.json
  packages/analytics/turbo.json
  packages/env/index.ts
  packages/eslint-config/base.js
  packages/ui/components/core/SearchBox.tsx
  packages/ui/components/sections/Navbar.tsx
  packages/ui/modals/PrivacyStatement.tsx
  packages/ui/modals/Service.tsx
  packages/ui/modals/ServiceFilter/index.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 app, 📦 ui, 📦 eslint-config, kodiak: merge.method = 'squash', 📦 env, 📦 analytics
