Repository weareinreach/InReach, pull requests merged in 2023-04, with the labels that each got.

#357 feat:(ui) Associate action button click actions [IN-786]
  apps/app/nextjs-routes.d.ts
  apps/app/public/locales/en/common.json
  apps/app/src/pages/org/[slug]/index.tsx
  packages/api/router/savedLists.ts
  packages/api/schemas/create/userSavedList.ts
  packages/api/schemas/update/userSavedList.ts
  packages/ui/.storybook/decorators.tsx
  packages/ui/.storybook/preview.tsx
  packages/ui/components/core/ActionButtons.stories.tsx
  packages/ui/components/core/ActionButtons.tsx
  packages/ui/components/core/Toolbar.stories.tsx
  packages/ui/components/core/Toolbar.tsx
  packages/ui/components/sections/SuggestOrg/index.tsx
  packages/ui/hooks/useNewNotification.stories.tsx
  packages/ui/hooks/useNewNotification.tsx
  packages/ui/mockData/savedList.ts
  packages/ui/modals/CreateNewList.stories.tsx
  packages/ui/modals/CreateNewList.tsx
  packages/ui/modals/ModalTitle.tsx
  packages/ui/modals/QuickPromotion.tsx
  packages/ui/modals/Service.tsx
  packages/ui/modals/index.ts
Labels: automerge, new-feature, 📦 app, 📦 api, 📦 ui

#374 feat: Add 'shake' animation on invalid submit attempt (IN-790)
  packages/ui/components/core/ActionButtons.tsx
  packages/ui/hooks/index.ts
  packages/ui/hooks/useShake.stories.tsx
  packages/ui/hooks/useShake.ts
  packages/ui/mockData/login.ts
  packages/ui/modals/ForgotPassword.tsx
  packages/ui/modals/GenericContent.tsx
  packages/ui/modals/Login.tsx
  packages/ui/theme/animation.ts
Labels: automerge, new-feature, 📦 ui

#375 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/xx-XX/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#377 fix: data display on Service modal
  .vscode/InReach.code-snippets
  InReach.code-workspace
  apps/app/public/locales/en/common.json
  packages/api/prisma/types.ts
  packages/api/schemas/attributeSupplement.ts
  packages/api/schemas/attributeSupplements/accessInstructions.ts
  packages/api/schemas/attributeSupplements/index.ts
  packages/api/schemas/selects/org.ts
  packages/db/index.ts
  packages/db/lib/superjsonMiddleware.ts
  packages/db/prisma/batchRunner.ts
  packages/db/prisma/data-migrations/!job-template.ts
  packages/db/prisma/data-migrations/2023-04-04/data.json
  packages/db/prisma/data-migrations/2023-04-04/index.ts
  packages/db/prisma/data-migrations/2023-04-04b.ts
  packages/db/prisma/data-migrations/2023-04-05.ts
  packages/db/prisma/data-migrations/2023-04-05b/data.json
  packages/db/prisma/data-migrations/2023-04-05b/index.ts
  packages/db/prisma/data-migrations/2023-04-06/costDesc.json
  packages/db/prisma/data-migrations/2023-04-06/index.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/prisma/dataMigrationRunner.ts
  packages/db/prisma/migrations/20230405210820_org_website_fields/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/data/00-namespaces.ts
  packages/db/seed/data/09-attributes.ts
  packages/db/seed/migrate-v1/org/compare.ts
  packages/db/seed/migrate-v1/org/dbRunner.ts
  packages/db/turbo.json
  packages/ui/components/core/Badge.tsx
  packages/ui/components/core/SocialLink.stories.tsx
  packages/ui/components/core/SocialLink.tsx
  packages/ui/components/data-display/ContactInfo.stories.tsx
  packages/ui/components/data-display/ContactInfo.tsx
  packages/ui/components/data-display/Hours.stories.tsx
  packages/ui/components/data-display/Hours.tsx
  packages/ui/components/data-display/index.ts
  packages/ui/components/sections/Contact.tsx
  packages/ui/components/sections/LocationCard.tsx
  packages/ui/components/sections/ServicesInfo.tsx
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/hooks/index.ts
  packages/ui/hooks/useFreeText.ts
  packages/ui/hooks/usePhoneNumber.ts
  packages/ui/hooks/useSlug.ts
  packages/ui/icon/index.tsx
  packages/ui/mockData/contactSection.ts
  packages/ui/mockData/locationCard.ts
  packages/ui/mockData/serviceModal.ts
  packages/ui/mockData/servicesInfoCard.ts
  packages/ui/modals/Service.stories.tsx
  packages/ui/modals/Service.tsx
  packages/ui/theme/appCache.ts
  packages/ui/theme/variants/List.ts
Labels: bugfix, 📦 app, 📦 db, 📦 api, 📦 ui

#378 fix: 'Save' not receving correct styles when it's in the overflow menu
  packages/ui/components/core/ActionButtons.stories.tsx
  packages/ui/components/core/ActionButtons.tsx
Labels: bugfix, automerge, 📦 ui

#384 chore: bump trpc-panel & patch json tree view
  apps/app/package.json
  package.json
  packages/api/generated/attributesByCategory.ts
  patches/trpc-panel@1.2.13.patch
  patches/trpc-panel@1.2.9.patch
  pnpm-lock.yaml
Labels: dependencies, 📦 app, 📦 api

#385 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/xx-XX/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#388 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/xx-XX/attribute.json
  apps/app/public/locales/xx-XX/common.json
  apps/app/public/locales/xx-XX/country.json
  apps/app/public/locales/xx-XX/gov-dist.json
  apps/app/public/locales/xx-XX/landingPage.json
  apps/app/public/locales/xx-XX/phone-type.json
  apps/app/public/locales/xx-XX/services.json
  apps/app/public/locales/xx-XX/suggestOrg.json
  apps/app/public/locales/xx-XX/user.json
Labels: automerge, translations, kodiak: merge.method = 'squash'

#380 feat: Photos section (IN-773)
  apps/app/public/locales/en/common.json
  packages/ui/components/sections/Photos.stories.tsx
  packages/ui/components/sections/Photos.tsx
Labels: automerge, new-feature, 📦 app, 📦 ui

#401 feat: add TanStack Table
  apps/app/package.json
  packages/ui/.storybook/main.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dependencies, automerge, new-feature, 📦 app, 📦 ui

#409 feat: Create variant for remote unpublished address (IN-785)
  apps/app/public/locales/en/common.json
  packages/ui/components/sections/VisitCard.stories.tsx
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/icon/index.tsx
Labels: automerge, new-feature, 📦 app, 📦 api, 📦 ui, 📦 auth

#418 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/xx-XX/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'
