Repository weareinreach/InReach, pull requests merged in 2023-08, with the labels that each got.

#694 fix: filter out crisis service for main listing
  apps/app/src/pages/admin/quicklink/services.tsx
  apps/app/src/pages/search/intl/[country].tsx
  packages/api/lib/errorHandler.ts
  packages/api/router/fieldOpt.ts
  packages/api/router/service/queries.ts
  packages/api/schemas/common.ts
  packages/api/schemas/selects/common.ts
  packages/api/schemas/selects/location.ts
  packages/api/schemas/selects/org.ts
  packages/api/schemas/selects/orgService.ts
  packages/ui/lib/getTrpcMock.ts
  packages/ui/lib/trpcResponse.ts
  packages/ui/mockData/suggestOrg.ts
  packages/ui/modals/Example.tsx
  packages/ui/modals/dataPortal/Attributes/index.tsx
  packages/ui/theme/common.tsx
  packages/ui/theme/variants/List.ts
Labels: bugfix, automerge, 📦 api, 📦 ui

#429 feat: Modal alert message (IN-844)
  apps/app/public/locales/en/common.json
  packages/db/prisma/data-migrations/2023-06-05_2-add-tags/!prepare.ts
  packages/db/seed/recon/dbRunner.ts
  packages/db/seed/recon/lib/output.ts
  packages/ui/modals/dataPortal/AlertMessage/index.stories.tsx
  packages/ui/modals/dataPortal/AlertMessage/index.tsx
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 ui, 📦 auth

#721 release: 2023-08-16
  .github/renovate.json
  .github/workflows/approve.yml
  .github/workflows/chromatic.yml
  apps/app/package.json
  apps/app/src/pages/_app.tsx
  apps/web/package.json
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/aws-cache/package.json
  packages/aws-messaging/package.json
  packages/aws-user-migrate/package.json
  packages/db/package.json
  packages/env/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  patches/next-auth@4.23.0.patch
  pnpm-lock.yaml
Labels: automerge, release

#718 feat(data-portal): organization table
  packages/api/router/organization/index.ts
  packages/api/router/organization/query.forOrganizationTable.handler.ts
  packages/api/router/organization/query.forOrganizationTable.schema.ts
  packages/api/router/organization/schemas.ts
  packages/ui/.storybook/decorators.tsx
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/components/data-portal/OrganizationTable.stories.tsx
  packages/ui/components/data-portal/OrganizationTable.tsx
  packages/ui/icon/index.tsx
  packages/ui/mockData/fieldOpt.ts
  packages/ui/mockData/organization.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 api, 📦 ui

#726 fix: autocomplete filtering with accented characters
  @types/locale-includes/index.d.ts
  apps/app/public/locales/en/common.json
  packages/ui/components/core/SearchBox.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Labels: bugfix, automerge, 📦 app, 📦 ui

#727 release: 2023-08-17
  .github/renovate.json
  .github/workflows/chromatic.yml
  .github/workflows/lint.yml
  @types/locale-includes/index.d.ts
  apps/app/package.json
  apps/app/public/locales/en/common.json
  apps/web/package.json
  package.json
  packages/api/package.json
  packages/api/router/organization/index.ts
  packages/api/router/organization/query.forOrganizationTable.handler.ts
  packages/api/router/organization/query.forOrganizationTable.schema.ts
  packages/api/router/organization/schemas.ts
  packages/auth/package.json
  packages/aws-cache/package.json
  packages/db/package.json
  packages/env/package.json
  packages/eslint-config/package.json
  packages/ui/.storybook/decorators.tsx
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/components/core/SearchBox.tsx
  packages/ui/components/data-portal/OrganizationTable.stories.tsx
  packages/ui/components/data-portal/OrganizationTable.tsx
  packages/ui/icon/index.tsx
  packages/ui/mockData/fieldOpt.ts
  packages/ui/mockData/organization.ts
  packages/ui/package.json
  patches/next-auth@4.23.0.patch
  patches/zod-prisma@0.5.4.patch
  pnpm-lock.yaml
Labels: automerge, release

#729 feat: data portal landing page
  .github/workflows/chromatic.yml
  .github/workflows/lint.yml
  InReach.code-workspace
  apps/app/package.json
  apps/app/public/locales/en/common.json
  apps/app/src/pages/401.tsx
  apps/app/src/pages/403.tsx
  apps/app/src/pages/admin/index.tsx
  apps/app/src/types/nextjs-routes.d.ts
  package.json
  packages/api/router/location/query.forGoogleMaps.handler.ts
  packages/config/tsconfig/base.json
  packages/eslint-config/base.js
  packages/ui/.storybook/i18next.ts
  packages/ui/components/core/SearchBox.stories.tsx
  packages/ui/components/core/SocialLink.stories.tsx
  packages/ui/components/core/UserMenu.stories.tsx
  packages/ui/components/data-portal/OrganizationTable.tsx
  packages/ui/lib/trpcClient.ts
  packages/ui/modals/Login.stories.tsx
  packages/ui/modals/Login.tsx
  packages/ui/modals/MoreFilter.stories.tsx
  packages/ui/modals/ServiceFilter.stories.tsx
  packages/ui/theme/colors.ts
  patches/eslint-plugin-node@11.1.0.patch
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 app, 📦 api, 📦 ui, 📦 config, 📦 eslint-config

#744 fix: review count display for location
  packages/ui/components/sections/Reviews.tsx
  packages/ui/icon/iconList.ts
Labels: bugfix, automerge, 📦 ui

#748 chore: reorg lambdas
  InReach.code-workspace
  apps/app/package.json
  lambdas/cognito-messaging/.eslintignore
  lambdas/cognito-messaging/.eslintrc.js
  lambdas/cognito-messaging/.gitignore
  lambdas/cognito-messaging/.lintstagedrc.cjs
  lambdas/cognito-messaging/.prettierignore
  lambdas/cognito-messaging/package.json
  lambdas/cognito-messaging/samconfig.toml
  lambdas/cognito-messaging/src/index.ts
  lambdas/cognito-messaging/template.yaml
  lambdas/cognito-messaging/tsconfig.json
  lambdas/cognito-messaging/turbo.json
  lambdas/cognito-user-migrate/.eslintignore
  lambdas/cognito-user-migrate/.eslintrc.js
  lambdas/cognito-user-migrate/.gitignore
  lambdas/cognito-user-migrate/.lintstagedrc.cjs
  lambdas/cognito-user-migrate/.prettierignore
  lambdas/cognito-user-migrate/Makefile
  lambdas/cognito-user-migrate/build.sh
  lambdas/cognito-user-migrate/package.json
  lambdas/cognito-user-migrate/samconfig.toml
  lambdas/cognito-user-migrate/src/client.ts
  lambdas/cognito-user-migrate/src/getUser.ts
  lambdas/cognito-user-migrate/src/index.ts
  lambdas/cognito-user-migrate/src/logger.ts
  lambdas/cognito-user-migrate/src/verifyUser.ts
  lambdas/cognito-user-migrate/template.yaml
  lambdas/cognito-user-migrate/trust-policy.json
  lambdas/cognito-user-migrate/tsconfig.json
  lambdas/cognito-user-migrate/turbo.json
  lambdas/cognito-user-migrate/types/environment.d.ts
  package.json
  packages/api/package.json
  packages/aws-cache/README.TOOLKIT.md
  packages/aws-cache/README.md
  packages/aws-cache/samconfig.toml
  packages/aws-cache/src/index.ts
  packages/aws-cache/template.yaml
  packages/aws-cache/tsconfig.json
  packages/aws-messaging/.eslintrc.js
  packages/aws-messaging/.gitignore
  packages/aws-user-migrate/.lintstagedrc.cjs
  packages/aws-user-migrate/package.json
  packages/config/lint-staged/index.js
  packages/config/lint-staged/next.js
  packages/db/package.json
  packages/eslint-config/.eslintrc.js
  packages/eslint-config/.lintstagedrc.js
  packages/eslint-config/index.js
  packages/eslint-config/next.js
  packages/eslint-config/storybook.js
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: automerge, maintenance, 📦 app, 📦 db, 📦 api, 📦 ui, 📦 config, 📦 eslint-config, 📦 aws-user-migrate, 📦 aws-messaging, 📦 aws-cache
