Repository weareinreach/InReach, pull requests merged in 2023-02, with the labels that each got.

#215 feat: create hooks, tidy up styles
  .husky/post-merge
  InReach.code-workspace
  apps/app/lib/generate.ts
  apps/app/lib/generators/footer.ts
  apps/app/lib/generators/navigation.ts
  apps/app/lib/generators/socialMedia.ts
  apps/app/src/pages/_app.tsx
  lib/postinstall.ts
  lib/runInstall.ts
  package.json
  packages/ui/.storybook/decorators.tsx
  packages/ui/.storybook/i18next.ts
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/components/core/AntiHateMessage.stories.tsx
  packages/ui/components/core/AntiHateMessage.tsx
  packages/ui/components/core/Badge.stories.tsx
  packages/ui/components/core/Badge.tsx
  packages/ui/components/core/Button.stories.tsx
  packages/ui/components/core/Button.tsx
  packages/ui/components/core/InstantFeedback.stories.tsx
  packages/ui/components/core/InstantFeedback.tsx
  packages/ui/components/core/LeaderBadge.stories.tsx
  packages/ui/components/core/LeaderBadge.tsx
  packages/ui/components/core/LeaderBadgeGroup.stories.tsx
  packages/ui/components/core/LeaderBadgeGroup.tsx
  packages/ui/components/core/MobileNav.stories.tsx
  packages/ui/components/core/UserReview.stories.tsx
  packages/ui/components/core/UserReview.tsx
  packages/ui/components/core/UserReviewSubmit.stories.tsx
  packages/ui/components/core/UserReviewSubmit.tsx
  packages/ui/components/core/VerifiedBadge.stories.tsx
  packages/ui/components/core/VerifiedBadge.tsx
  packages/ui/components/core/index.tsx
  packages/ui/components/layout/Footer.stories.tsx
  packages/ui/components/layout/Footer.tsx
  packages/ui/components/layout/Nav.stories.tsx
  packages/ui/components/layout/Nav.tsx
  packages/ui/components/layout/UserMenu.stories.tsx
  packages/ui/components/layout/index.tsx
  packages/ui/hooks/index.ts
  packages/ui/hooks/useNewNotification.stories.tsx
  packages/ui/hooks/useNewNotification.tsx
  packages/ui/hooks/useTypedRouter.ts
  packages/ui/hooks/useTypedRouterQuery.stories.tsx
  packages/ui/hooks/useTypedRouterQuery.ts
  packages/ui/layout/AppLayout.stories.tsx
  packages/ui/layout/AppLayout.tsx
  packages/ui/layout/Organization.tsx
  packages/ui/layout/index.tsx
  packages/ui/lib/trpcResponse.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 app, 📦 ui

#162 feat(ui): action button
  apps/app/public/locales/en/common.json
  packages/ui/.storybook/main.ts
  packages/ui/components/core/ActionButtons.stories.tsx
  packages/ui/components/core/ActionButtons.tsx
  packages/ui/components/core/AlertMessage.stories.tsx
  packages/ui/components/core/AntiHateMessage.stories.tsx
  packages/ui/components/core/Badge.stories.tsx
  packages/ui/components/core/Breadcrumb.stories.tsx
  packages/ui/components/core/LeaderBadge.stories.tsx
  packages/ui/components/core/LeaderBadgeGroup.stories.tsx
  packages/ui/components/core/Link.stories.tsx
  packages/ui/components/core/MobileNav.stories.tsx
  packages/ui/components/core/Rating.stories.tsx
  packages/ui/components/core/SocialMediaIconButton.stories.tsx
  packages/ui/components/core/UserAvatar.stories.tsx
  packages/ui/components/core/UserReview.stories.tsx
  packages/ui/components/core/UserReviewSubmit.stories.tsx
  packages/ui/components/core/VerifiedBadge.stories.tsx
  packages/ui/components/core/index.tsx
Labels: new-feature, 📦 app, 📦 db, 📦 ui

#222 feat(ui): Tabs component with style and translations
  apps/app/public/locales/en/common.json
  packages/ui/components/core/Tabs.stories.tsx
  packages/ui/theme/common.ts
Labels: automerge, new-feature, 📦 app, 📦 ui

#239 feat(ui): Service Filter component
  apps/app/nextjs-routes.d.ts
  apps/app/public/locales/en-US/services.json
  apps/app/public/locales/en/attribute.json
  apps/app/public/locales/en/common.json
  apps/app/public/locales/en/services.json
  packages/db/seed/data/08-services.ts
  packages/db/seed/starter/08-services.ts
  packages/ui/.storybook/i18next.ts
  packages/ui/components/core/ServiceFilter.stories.tsx
  packages/ui/components/core/ServiceFilter.tsx
  packages/ui/components/core/index.tsx
  packages/ui/mockData/serviceFilter.ts
  packages/ui/modals/settings.ts
  packages/ui/theme/common.tsx
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui

#249 feat: create Modal template story
  apps/app/public/locales/en/common.json
  packages/ui/.storybook/decorators.tsx
  packages/ui/components/core/ActionButtons.tsx
  packages/ui/components/core/Breadcrumb.stories.tsx
  packages/ui/components/core/Breadcrumb.tsx
  packages/ui/components/core/UserAvatar.tsx
  packages/ui/modals/Example.stories.tsx
  packages/ui/modals/Example.tsx
  packages/ui/theme/common.tsx
Labels: 📦 app, 📦 ui

#221 feat: search field
  apps/app/nextjs-routes.d.ts
  apps/app/public/locales/en/common.json
  apps/app/src/pages/suggest.tsx
  packages/api/errorTypes.ts
  packages/api/lib/googleHandler.ts
  packages/api/lib/index.ts
  packages/api/lib/transformer.ts
  packages/api/package.json
  packages/api/router/geo.ts
  packages/api/router/index.ts
  packages/api/router/organization/queries.ts
  packages/api/schemas/thirdParty/googleGeo.ts
  packages/api/trpc/client.ts
  packages/ui/components/core/SearchBox.stories.tsx
  packages/ui/components/core/SearchBox.tsx
  packages/ui/components/core/index.tsx
  packages/ui/icon/iconList.ts
  packages/ui/lib/getTrpcMock.ts
  packages/ui/lib/trpcResponse.ts
  packages/ui/mockData/locationSearch.ts
  packages/ui/mockData/orgSearch.ts
  packages/ui/package.json
  packages/ui/theme/common.tsx
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 app, 📦 api, 📦 ui

#259 feat: Add missing badge variants
  apps/app/public/locales/en/attribute.json
  apps/app/public/locales/en/common.json
  packages/ui/components/core/Badge.stories.tsx
  packages/ui/components/core/Badge.tsx
  packages/ui/components/core/LeaderBadge.stories.tsx
  packages/ui/components/core/LeaderBadge.tsx
  packages/ui/components/core/LeaderBadgeGroup.stories.tsx
  packages/ui/components/core/LeaderBadgeGroup.tsx
  packages/ui/components/core/VerifiedBadge.stories.tsx
  packages/ui/components/core/VerifiedBadge.tsx
  packages/ui/components/core/index.tsx
  packages/ui/modals/Example.tsx
Labels: new-feature, refactor, 📦 app, 📦 ui

#258 feat: Footer component (redesigned)
  apps/app/public/locales/en/common.json
  packages/ui/assets/inreach.svg
  packages/ui/assets/vercel.svg
  packages/ui/components/sections/Footer.stories.tsx
  packages/ui/components/sections/Footer.tsx
  packages/ui/components/sections/index.ts
  packages/ui/layouts/BodyGrid.stories.tsx
  packages/ui/layouts/BodyGrid.tsx
  packages/ui/theme/common.tsx
Labels: automerge, new-feature, 📦 app, 📦 ui
