Repository weareinreach/InReach, pull requests merged in 2024-07, with the labels that each got.

#1316 fix: geocoding on address visiblity change
  packages/api/router/geo/index.ts
  packages/api/router/geo/query.cityCoords.handler.ts
  packages/api/router/geo/query.cityCoords.schema.ts
  packages/api/router/geo/query.geoByPlaceId.handler.ts
  packages/api/router/geo/schemas.ts
  packages/api/router/location/query.forLocationPage.handler.ts
  packages/api/router/organization/query.forOrgPage.handler.ts
  packages/api/schemas/thirdParty/googleGeo.ts
  packages/api/turbo/generators/templates/handlers/handler.ts.hbs
  packages/ui/components/data-portal/AddressDrawer/AutocompleteItem.tsx
  packages/ui/components/data-portal/AddressDrawer/CountryItem.tsx
  packages/ui/components/data-portal/AddressDrawer/context.ts
  packages/ui/components/data-portal/AddressDrawer/index.stories.tsx
  packages/ui/components/data-portal/AddressDrawer/index.tsx
  packages/ui/components/data-portal/AddressDrawer/schema.ts
  packages/ui/components/data-portal/AddressDrawer/styles.ts
  packages/ui/components/sections/ListingBasicInfo.tsx
  packages/ui/hooks/useFormattedAddress.ts
Labels: bugfix, automerge, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1326 fix: AddressDrawer rework
  apps/app/.gitignore
  apps/app/src/pages/_app.tsx
  apps/app/src/pages/api/trpc/[trpc].ts
  apps/app/src/pages/org/[slug]/edit.tsx
  apps/app/src/providers/index.tsx
  packages/api/lib/context.ts
  packages/api/router/geo/query.cityCoords.handler.ts
  packages/api/router/location/mutation.create.handler.ts
  packages/api/router/location/mutation.create.schema.ts
  packages/api/router/location/query.forVisitCard.handler.ts
  packages/api/router/location/query.forVisitCardEdits.handler.ts
  packages/api/router/orgSocialMedia/mutation.upsert.handler.ts
  packages/api/router/orgWebsite/mutation.upsert.handler.ts
  packages/api/router/organization/query.forOrgPageEdits.handler.ts
  packages/api/trpc/client.ts
  packages/auth/lib/userLogin.ts
  packages/crowdin/cache/index.ts
  packages/db/package.json
  packages/eslint-config/base.js
  packages/ui/components/core/LangPicker.tsx
  packages/ui/components/data-portal/AddressAutocomplete/index.tsx
  packages/ui/components/data-portal/AddressDrawer/hookform.tsx
  packages/ui/components/data-portal/AddressDrawer/index.tsx
  packages/ui/components/data-portal/LocationDrawer/index.tsx
  packages/ui/components/data-portal/SocialMediaDrawer/index.tsx
  packages/ui/components/data-portal/WebsiteDrawer/index.tsx
  packages/ui/components/sections/LocationCard.tsx
  packages/ui/hooks/useFormattedAddress.ts
  packages/ui/hooks/useScreenSize.ts
  packages/ui/lib/trpcClient.ts
Labels: bugfix, automerge, 📦 app, 📦 db, 📦 api, 📦 ui, 📦 auth, 📦 eslint-config, kodiak: merge.method = 'squash', 📦 crowdin

#1334 fix: add icon to hidden address in edit mode
  packages/api/router/location/lib.formatAddressVisibility.ts
  packages/api/router/location/query.forVisitCardEdits.handler.ts
  packages/ui/components/data-portal/AddressDrawer/index.tsx
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/icon/index.tsx
Labels: bugfix, automerge, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1335 release: 2024-07-18
  apps/app/src/pages/api/trpc/[trpc].ts
  packages/api/router/location/lib.formatAddressVisibility.ts
  packages/api/router/location/query.forVisitCardEdits.handler.ts
  packages/ui/components/data-portal/AddressDrawer/index.tsx
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/icon/index.tsx
Labels: automerge, release

#1336 fix: Visit/Contact card conditional rendering
  packages/api/router/location/query.forVisitCard.handler.ts
  packages/api/router/misc/query.hasContactInfo.handler.ts
  packages/ui/components/sections/ContactSection/index.tsx
  packages/ui/components/sections/VisitCard.tsx
Labels: bugfix, automerge, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1337 release: 2024-07-19
  apps/app/package.json
  apps/web/package.json
  package.json
  packages/analytics/package.json
  packages/api/package.json
  packages/api/router/location/query.forVisitCard.handler.ts
  packages/api/router/misc/query.hasContactInfo.handler.ts
  packages/auth/package.json
  packages/db/package.json
  packages/ui/components/data-portal/AddressDrawer/schema.ts
  packages/ui/components/sections/ContactSection/index.tsx
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/package.json
  packages/util/package.json
  pnpm-lock.yaml
Labels: automerge, release

#1342 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ht/attribute.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1338 fix: access instruction editing
  packages/ui/components/data-display/ContactInfo/Emails.tsx
  packages/ui/components/data-display/ContactInfo/PhoneNumbers.tsx
  packages/ui/components/data-display/ContactInfo/Websites.tsx
  packages/ui/components/data-display/ContactInfo/types.ts
  packages/ui/components/data-portal/ServiceEditDrawer/AttributeEditWrapper.tsx
  packages/ui/components/data-portal/ServiceEditDrawer/ServiceAreaItem.tsx
  packages/ui/components/data-portal/ServiceEditDrawer/index.tsx
  packages/ui/modals/CoverageArea/index.tsx
  packages/ui/modals/Service/processors/emailAccess.ts
  packages/ui/modals/Service/processors/linkAccess.ts
  packages/ui/modals/Service/processors/phoneAccess.ts
Labels: bugfix, automerge, 📦 ui, kodiak: merge.method = 'squash'

#1349 fix: email editing, data portal option display
  packages/api/router/component/query.ServiceSelect.handler.ts
  packages/api/router/fieldOpt/query.attributesByCategory.handler.ts
  packages/api/router/fieldOpt/query.attributesByCategory.schema.ts
  packages/api/router/orgEmail/mutation.update.handler.ts
  packages/db/client/index.ts
  packages/db/prisma/data-migrations/2024-07-29_address-visibility-update.ts
  packages/db/prisma/data-migrations/2024-07-29_new-service-tags.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/prisma/migrations/20240729192332_update_view/migration.sql
  packages/db/prisma/schema.prisma
  packages/ui/components/data-portal/ServiceSelect/index.tsx
  packages/ui/modals/dataPortal/Attributes/SelectionItem.tsx
  packages/ui/modals/dataPortal/Attributes/index.tsx
Labels: bugfix, automerge, 📦 db, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1350 release: 2024-07-29
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/njsscan.yml
  .nvmrc
  apps/app/package.json
  apps/app/public/locales/en/services.json
  apps/app/public/locales/ht/attribute.json
  apps/web/package.json
  lambdas/cognito-messaging/package.json
  lambdas/cognito-user-migrate/package.json
  package.json
  packages/analytics/package.json
  packages/api/package.json
  packages/api/router/component/query.ServiceSelect.handler.ts
  packages/api/router/fieldOpt/query.attributesByCategory.handler.ts
  packages/api/router/fieldOpt/query.attributesByCategory.schema.ts
  packages/api/router/orgEmail/mutation.update.handler.ts
  packages/auth/package.json
  packages/config/package.json
  packages/crowdin/package.json
  packages/db/client/index.ts
  packages/db/package.json
  packages/db/prisma/data-migrations/2024-07-29_address-visibility-update.ts
  packages/db/prisma/data-migrations/2024-07-29_new-service-tags.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/prisma/migrations/20240729192332_update_view/migration.sql
  packages/db/prisma/schema.prisma
  packages/env/package.json
  packages/eslint-config/package.json
  packages/ui/components/data-display/ContactInfo/Emails.tsx
  packages/ui/components/data-display/ContactInfo/PhoneNumbers.tsx
  packages/ui/components/data-display/ContactInfo/Websites.tsx
  packages/ui/components/data-display/ContactInfo/types.ts
  packages/ui/components/data-portal/ServiceEditDrawer/AttributeEditWrapper.tsx
  packages/ui/components/data-portal/ServiceEditDrawer/ServiceAreaItem.tsx
  packages/ui/components/data-portal/ServiceEditDrawer/index.tsx
  packages/ui/components/data-portal/ServiceSelect/index.tsx
  packages/ui/modals/CoverageArea/index.tsx
  packages/ui/modals/Service/processors/emailAccess.ts
  packages/ui/modals/Service/processors/linkAccess.ts
  packages/ui/modals/Service/processors/phoneAccess.ts
  packages/ui/modals/dataPortal/Attributes/SelectionItem.tsx
  packages/ui/modals/dataPortal/Attributes/index.tsx
  packages/ui/package.json
  packages/util/package.json
  pnpm-lock.yaml
Labels: automerge, release

#1357 fix: link email to org on creation
  packages/api/router/orgEmail/mutation.update.handler.ts
  packages/ui/components/data-portal/EmailDrawer/index.tsx
Labels: bugfix, automerge, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1358 release: 2024-07-31
  apps/app/package.json
  apps/web/package.json
  lambdas/cognito-messaging/package.json
  lambdas/cognito-user-migrate/package.json
  package.json
  packages/analytics/package.json
  packages/api/package.json
  packages/api/router/orgEmail/mutation.update.handler.ts
  packages/auth/package.json
  packages/config/package.json
  packages/db/package.json
  packages/env/package.json
  packages/eslint-config/package.json
  packages/ui/components/data-portal/EmailDrawer/index.tsx
  packages/ui/package.json
  packages/util/package.json
  pnpm-lock.yaml
Labels: automerge, release
