Repository weareinreach/InReach, pull requests merged in 2024-05, with the labels that each got.

#1205 refactor(IN-954): ActionButton component
  apps/app/sentry.client.config.ts
  apps/app/sentry.edge.config.ts
  apps/app/sentry.server.config.ts
  apps/app/src/pages/org/[slug]/[orgLocationId]/edit.tsx
  apps/app/src/pages/org/[slug]/[orgLocationId]/index.tsx
  apps/app/src/pages/org/[slug]/index.tsx
  packages/api/router/organization/query.forOrgPage.handler.ts
  packages/api/router/savedLists/mutation.deleteItem.handler.ts
  packages/api/router/savedLists/mutation.deleteItem.schema.ts
  packages/api/router/savedLists/mutation.saveItem.handler.ts
  packages/api/router/savedLists/mutation.saveItem.schema.ts
  packages/api/router/savedLists/query.isSaved.handler.ts
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/.storybook/viewports.ts
  packages/ui/components/core/ActionButtons.stories.tsx
  packages/ui/components/core/ActionButtons.tsx
  packages/ui/components/core/ActionButtons/Group.tsx
  packages/ui/components/core/ActionButtons/Menu.tsx
  packages/ui/components/core/ActionButtons/Print.tsx
  packages/ui/components/core/ActionButtons/Review.tsx
  packages/ui/components/core/ActionButtons/Save.tsx
  packages/ui/components/core/ActionButtons/Share.tsx
  packages/ui/components/core/ActionButtons/index.stories.tsx
  packages/ui/components/core/ActionButtons/index.tsx
  packages/ui/components/core/ActionButtons/styles.ts
  packages/ui/components/core/Breadcrumb.tsx
  packages/ui/components/core/Button.tsx
  packages/ui/components/core/SearchResultCard.tsx
  packages/ui/components/core/Toolbar.tsx
  packages/ui/components/core/index.tsx
  packages/ui/components/sections/Reviews.tsx
  packages/ui/components/sections/SuggestOrg/context.ts
  packages/ui/components/sections/SuggestOrg/index.tsx
  packages/ui/components/sections/SuggestOrg/modals.tsx
  packages/ui/icon/iconList.ts
  packages/ui/icon/index.tsx
  packages/ui/mockData/fieldOpt.ts
  packages/ui/mockData/orgPhone.ts
  packages/ui/modals/ModalTitle.tsx
  packages/ui/modals/QuickPromotion.tsx
  packages/ui/modals/Review.tsx
  packages/ui/theme/common.tsx
Labels: automerge, refactor, 📦 app, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1255 fix: page error handling
  apps/app/src/pages/index.tsx
  apps/app/src/pages/org/[slug]/[orgLocationId]/edit.tsx
  apps/app/src/pages/org/[slug]/[orgLocationId]/index.tsx
  apps/app/src/pages/org/[slug]/edit.tsx
  apps/app/src/pages/org/[slug]/index.tsx
  apps/app/src/pages/search/intl/[country].tsx
  apps/app/src/pages/suggest.tsx
  packages/api/lib/errorHandler.ts
  packages/api/router/organization/query.forOrgPage.handler.ts
  packages/api/router/organization/query.getIdFromSlug.handler.ts
  packages/api/router/organization/query.slugRedirect.handler.ts
  packages/ui/components/data-portal/MultiSelectPopover/hook-form.tsx
Labels: bugfix, automerge, 📦 app, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1256 fix: check `router.isFallback` client-side only
  packages/ui/components/core/UserAvatar.tsx
Labels: bugfix, automerge, 📦 ui, kodiak: merge.method = 'squash'

#1257 feat: RQ devtool in vercel preview
  apps/app/next-i18next.config.mjs
  apps/app/src/pages/_app.tsx
  apps/app/src/utils/RQDevtool.tsx
  packages/env/checks.ts
Labels: automerge, new-feature, 📦 app, kodiak: merge.method = 'squash', 📦 env

#1259 chore: update search alert url
  apps/app/src/pages/search/[...params]/index.tsx
Labels: automerge, maintenance, 📦 app, kodiak: merge.method = 'squash'

#1260 fix: access instruction saving/display
  apps/app/src/pages/org/[slug]/index.tsx
  packages/db/client/extensions/json.ts
  packages/db/generated/attributeSupplementSchema.ts
  packages/db/lib/generators/attributeSuppDataSchemas.ts
  packages/ui/components/data-display/ContactInfo/Emails.tsx
  packages/ui/components/data-display/ContactInfo/PhoneNumbers.tsx
  packages/ui/components/data-display/ContactInfo/Websites.tsx
  packages/ui/components/data-portal/EmailDrawer/index.tsx
  packages/ui/lib/nsFormatter.ts
  packages/ui/modals/dataPortal/Attributes/fields.tsx
  packages/ui/modals/dataPortal/Attributes/index.tsx
Labels: bugfix, automerge, 📦 app, 📦 db, 📦 ui, kodiak: merge.method = 'squash'

#1213 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/ht/attribute.json
  apps/app/public/locales/ht/country.json
  apps/app/public/locales/ht/gov-dist.json
  apps/app/public/locales/ht/landingPage.json
  apps/app/public/locales/ht/services.json
  apps/app/public/locales/ht/suggestOrg.json
  apps/app/public/locales/ht/user.json
  apps/app/public/locales/ja/attribute.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ja/suggestOrg.json
  apps/app/public/locales/tr-TR/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1263 chore(): update lambdas to node20/arm64
  lambdas/cognito-messaging/Makefile
  lambdas/cognito-messaging/package.json
  lambdas/cognito-messaging/src/index.ts
  lambdas/cognito-messaging/template.yaml
  lambdas/cognito-messaging/tsconfig.json
  lambdas/cognito-user-migrate/Makefile
  lambdas/cognito-user-migrate/package.json
  lambdas/cognito-user-migrate/src/client.ts
  lambdas/cognito-user-migrate/src/getUser.ts
  lambdas/cognito-user-migrate/src/verifyUser.ts
  lambdas/cognito-user-migrate/template.yaml
  lambdas/cognito-user-migrate/tsconfig.json
  packages/db/package.json
  packages/db/prisma/schema.prisma
Labels: enhancement, automerge, maintenance, 📦 db, kodiak: merge.method = 'squash'
