Repository weareinreach/InReach, pull requests merged in 2024-06, with the labels that each got.

#1284 fix: crowdin branch id
  packages/crowdin/common/apiFns.ts
  packages/crowdin/constants.ts
Labels: bugfix, automerge, kodiak: merge.method = 'squash', 📦 crowdin

#1266 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/af/common.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/de-DE/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/landingPage.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/hi/common.json
  apps/app/public/locales/ht/common.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/ko/landingPage.json
  apps/app/public/locales/pl/common.json
  apps/app/public/locales/ps/common.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/sw/common.json
  apps/app/public/locales/tl/common.json
  apps/app/public/locales/tr-TR/common.json
  apps/app/public/locales/uk/common.json
  apps/app/public/locales/zh/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1285 release: 2024-06-06
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/crowdin.yml
  .github/workflows/njsscan.yml
  .nvmrc
  apps/app/package.json
  apps/app/public/locales/af/common.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/de-DE/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/landingPage.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/hi/common.json
  apps/app/public/locales/ht/common.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/ko/landingPage.json
  apps/app/public/locales/pl/common.json
  apps/app/public/locales/ps/common.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/sw/common.json
  apps/app/public/locales/tl/common.json
  apps/app/public/locales/tr-TR/common.json
  apps/app/public/locales/uk/common.json
  apps/app/public/locales/zh/common.json
  apps/web/package.json
  lambdas/cognito-messaging/package.json
  lambdas/cognito-user-migrate/package.json
  package.json
  packages/analytics/package.json
  packages/api/package.json
  packages/auth/package.json
  packages/config/package.json
  packages/crowdin/common/apiFns.ts
  packages/crowdin/constants.ts
  packages/crowdin/package.json
  packages/db/package.json
  packages/env/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: automerge, release

#1287 feat: create location drawer
  apps/app/src/pages/org/[slug]/edit.tsx
  packages/api/router/location/mutation.create.handler.ts
  packages/api/router/location/mutation.create.schema.ts
  packages/api/router/location/mutation.update.schema.ts
  packages/api/router/location/query.forLocationCard.handler.ts
  packages/api/router/organization/query.forOrgPageEdits.handler.ts
  packages/api/router/organization/query.searchDistance.handler.ts
  packages/db/lib/createPoint.ts
  packages/db/prisma/migrations/20240610181649_/migration.sql
  packages/db/prisma/schema.prisma
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/components/data-portal/AddressAutocomplete/index.tsx
  packages/ui/components/data-portal/AddressDrawer.tsx
  packages/ui/components/data-portal/LocationDrawer/index.stories.tsx
  packages/ui/components/data-portal/LocationDrawer/index.tsx
  packages/ui/components/sections/LocationCard.tsx
  packages/ui/components/sections/Navbar.tsx
  packages/ui/mockData/json/location.forLocationCard.json
  packages/ui/mockData/location.ts
  packages/ui/package.json
  packages/ui/theme/common.tsx
  packages/ui/theme/variants/Title.ts
  packages/ui/theme/variants/index.ts
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1288 chore: update map link url
  apps/app/src/pages/search/[...params]/index.tsx
Labels: automerge, maintenance, 📦 app, kodiak: merge.method = 'squash'

#1289 release: 2024-06-10
  apps/app/package.json
  apps/app/src/pages/org/[slug]/edit.tsx
  apps/app/src/pages/search/[...params]/index.tsx
  package.json
  packages/analytics/package.json
  packages/api/package.json
  packages/api/router/location/mutation.create.handler.ts
  packages/api/router/location/mutation.create.schema.ts
  packages/api/router/location/mutation.update.schema.ts
  packages/api/router/location/query.forLocationCard.handler.ts
  packages/api/router/organization/query.forOrgPageEdits.handler.ts
  packages/api/router/organization/query.searchDistance.handler.ts
  packages/auth/package.json
  packages/db/lib/createPoint.ts
  packages/db/package.json
  packages/db/prisma/migrations/20240610181649_/migration.sql
  packages/db/prisma/schema.prisma
  packages/env/package.json
  packages/eslint-config/package.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/components/data-portal/AddressAutocomplete/index.tsx
  packages/ui/components/data-portal/AddressDrawer.tsx
  packages/ui/components/data-portal/LocationDrawer/index.stories.tsx
  packages/ui/components/data-portal/LocationDrawer/index.tsx
  packages/ui/components/sections/LocationCard.tsx
  packages/ui/components/sections/Navbar.tsx
  packages/ui/mockData/json/location.forLocationCard.json
  packages/ui/mockData/location.ts
  packages/ui/package.json
  packages/ui/theme/common.tsx
  packages/ui/theme/variants/Title.ts
  packages/ui/theme/variants/index.ts
  packages/util/package.json
  pnpm-lock.yaml
Labels: automerge, release

#1286 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ar/attribute.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/ar/country.json
  apps/app/public/locales/ar/suggestOrg.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/landingPage.json
  apps/app/public/locales/ja/attribute.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1299 fix: differentiate baltimore city & county
  apps/app/public/locales/en/gov-dist.json
  packages/db/prisma/data-migrations/2024-06-14_update-baltimore-to-reflect-city-and-county-options.ts
  packages/db/prisma/data-migrations/index.ts
Labels: bugfix, automerge, 📦 app, 📦 db, kodiak: merge.method = 'squash'

#1300 release: 2024-06-14
  .github/workflows/cache.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/crowdin.yml
  .github/workflows/labels.yml
  .github/workflows/lint.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/njsscan.yml
  InReach.code-workspace
  apps/app/next.config.mjs
  apps/app/package.json
  apps/app/public/locales/ar/attribute.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/ar/country.json
  apps/app/public/locales/ar/suggestOrg.json
  apps/app/public/locales/en/gov-dist.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/landingPage.json
  apps/app/public/locales/ja/attribute.json
  apps/app/turbo.json
  apps/web/package.json
  apps/web/turbo.json
  lambdas/cognito-messaging/package.json
  lambdas/cognito-messaging/turbo.json
  lambdas/cognito-user-migrate/package.json
  lambdas/cognito-user-migrate/turbo.json
  package.json
  packages/analytics/package.json
  packages/analytics/turbo.json
  packages/api/package.json
  packages/api/turbo.json
  packages/auth/package.json
  packages/config/package.json
  packages/crowdin/package.json
  packages/crowdin/turbo.json
  packages/db/package.json
  packages/db/prisma/data-migrations/2024-06-14_update-baltimore-to-reflect-city-and-county-options.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/turbo.json
  packages/env/index.ts
  packages/env/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  packages/ui/turbo.json
  packages/util/package.json
  packages/util/turbo.json
  pnpm-lock.yaml
  turbo.json
Labels: automerge, release

#1182 feat: Search page alerts
  apps/app/public/locales/en/common.json
  apps/app/src/pages/search/[...params]/index.tsx
  packages/api/router/component/index.ts
  packages/api/router/component/query.LocationBasedAlertBanner.handler.ts
  packages/api/router/component/query.LocationBasedAlertBanner.schema.ts
  packages/api/router/component/schemas.ts
  packages/db/lib/generateFreeText.ts
  packages/db/lib/idGen.ts
  packages/db/prisma/data-migrations/2024-06-27_search-page-alert.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/prisma/migrations/20240327215247_location_based_alerts/migration.sql
  packages/db/prisma/migrations/20240515003535_/migration.sql
  packages/db/prisma/schema.prisma
  packages/ui/components/core/LocationBasedAlertBanner/index.stories.tsx
  packages/ui/components/core/LocationBasedAlertBanner/index.tsx
  packages/ui/components/core/SearchBox.tsx
  packages/ui/mockData/component.ts
  packages/ui/mockData/json/component.LocationBasedAlertBanner.json
  packages/ui/modals/ServiceFilter/index.tsx
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1310 fix: dead link & data migrations
  apps/app/public/locales/en/attribute.json
  apps/app/public/locales/en/services.json
  packages/api/router/service/query.getFilterOptions.handler.ts
  packages/db/package.json
  packages/db/prisma/data-migrations/2024-06-27_new-tags.ts
  packages/db/prisma/data-migrations/2024-06-28_new-cost-props.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/turbo/generators/config.ts
  packages/ui/components/data-portal/ServiceEditDrawer/index.tsx
  packages/ui/components/sections/Footer.tsx
  pnpm-lock.yaml
Labels: bugfix, automerge, maintenance, 📦 app, 📦 db, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1312 release: 2024-06-28b
  packages/api/router/location/mutation.create.schema.ts
  packages/api/router/location/mutation.update.schema.ts
  packages/db/enums/index.ts
  packages/db/package.json
  packages/db/prisma/schema.prisma
  packages/ui/components/data-portal/AddressDrawer.tsx
  packages/ui/mockData/component.ts
  packages/ui/mockData/fieldOpt.ts
  pnpm-lock.yaml
Labels: automerge, release

#1313 release: 2024-06-28c
  packages/ui/components/data-portal/InlineTextInput.tsx
Labels: automerge, release
