Repository weareinreach/InReach, pull requests merged in 2024-08, with the labels that each got.

#1365 fix: server side revalidation
  apps/app/src/pages/org/[slug]/index.tsx
Labels: bugfix, automerge, 📦 app, kodiak: merge.method = 'squash'

#1366 release: 2024-08-02
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/njsscan.yml
  .github/workflows/pr-labels.yml
  apps/app/package.json
  apps/app/src/pages/org/[slug]/index.tsx
  package.json
  packages/api/package.json
  packages/db/package.json
  packages/env/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: automerge, release

#1369 fix: ssr regen
  apps/app/src/pages/404.tsx
  apps/app/src/pages/org/[slug]/[orgLocationId]/index.tsx
  apps/app/src/pages/org/[slug]/index.tsx
  apps/app/src/pages/org/[slug]/remote.tsx
Labels: bugfix, automerge, 📦 app, kodiak: merge.method = 'squash'

#1351 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/af/common.json
  apps/app/public/locales/af/services.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/ar/services.json
  apps/app/public/locales/de-DE/common.json
  apps/app/public/locales/de-DE/services.json
  apps/app/public/locales/es/attribute.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/services.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fa/services.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/fr/services.json
  apps/app/public/locales/hi/common.json
  apps/app/public/locales/hi/services.json
  apps/app/public/locales/ht/common.json
  apps/app/public/locales/ht/services.json
  apps/app/public/locales/ja/attribute.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ja/services.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/ko/services.json
  apps/app/public/locales/pl/common.json
  apps/app/public/locales/pl/services.json
  apps/app/public/locales/ps/common.json
  apps/app/public/locales/ps/services.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/pt/services.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/ru/services.json
  apps/app/public/locales/sw/common.json
  apps/app/public/locales/sw/services.json
  apps/app/public/locales/tl/common.json
  apps/app/public/locales/tl/services.json
  apps/app/public/locales/tr-TR/common.json
  apps/app/public/locales/tr-TR/services.json
  apps/app/public/locales/uk/common.json
  apps/app/public/locales/uk/services.json
  apps/app/public/locales/zh/common.json
  apps/app/public/locales/zh/services.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1373 fix: password reset
  packages/ui/modals/ResetPassword.tsx
Labels: bugfix, automerge, 📦 ui, kodiak: merge.method = 'squash'

#1343 feat: display user saved lists
  apps/app/public/locales/en/common.json
  apps/app/src/pages/account/saved.tsx
  apps/app/src/pages/account/saved/[listId].tsx
  apps/app/src/pages/account/saved/index.tsx
  apps/app/src/types/nextjs-routes.d.ts
  packages/api/router/savedLists/query.getAll.handler.ts
  packages/api/router/savedLists/query.getById.handler.ts
  packages/ui/components/core/ActionButtons/Delete.tsx
  packages/ui/components/core/ActionButtons/Print.tsx
  packages/ui/components/core/ActionButtons/Save.tsx
  packages/ui/components/core/ActionButtons/index.tsx
  packages/ui/components/core/Saved/SavedOrgResultCard.tsx
  packages/ui/components/core/Saved/SavedServiceResultCard.tsx
  packages/ui/mockData/savedList.ts
  packages/ui/theme/variants/Button.ts
  packages/ui/theme/variants/index.ts
Labels: automerge, new-feature, 📦 app, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1377 fix: ssr revalidation
  apps/app/src/pages/org/[slug]/[orgLocationId]/edit.tsx
  apps/app/src/pages/org/[slug]/[orgLocationId]/index.tsx
  apps/app/src/pages/org/[slug]/edit.tsx
  apps/app/src/pages/org/[slug]/index.tsx
  packages/api/router/misc/index.ts
  packages/api/router/misc/mutation.revalidatePage.handler.ts
  packages/api/router/misc/mutation.revalidatePage.schema.ts
  packages/api/router/misc/schemas.ts
  packages/ui/components/sections/Navbar.tsx
Labels: bugfix, automerge, 📦 app, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1374 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/af/common.json
  apps/app/public/locales/af/services.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/de-DE/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fa/services.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/hi/common.json
  apps/app/public/locales/hi/services.json
  apps/app/public/locales/ht/common.json
  apps/app/public/locales/ht/services.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/pl/common.json
  apps/app/public/locales/ps/common.json
  apps/app/public/locales/ps/services.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/sw/common.json
  apps/app/public/locales/sw/services.json
  apps/app/public/locales/tl/common.json
  apps/app/public/locales/tl/services.json
  apps/app/public/locales/tr-TR/common.json
  apps/app/public/locales/uk/common.json
  apps/app/public/locales/zh/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1398 fix: alert styling
  apps/app/package.json
  lambdas/cognito-user-migrate/package.json
  packages/api/router/component/query.LocationBasedAlertBanner.handler.ts
  packages/db/package.json
  packages/db/prisma/data-migrations/2024-08-22_election-alert.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/prisma/migrations/20240827192047_location_alert_order/migration.sql
  packages/db/prisma/schema.prisma
  packages/ui/components/core/LocationBasedAlertBanner/index.tsx
  pnpm-lock.yaml
Labels: bugfix, automerge, 📦 app, 📦 db, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1400 release: 2024-08-27
  .github/workflows/approve.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/njsscan.yml
  .nvmrc
  apps/app/package.json
  apps/web/package.json
  lambdas/cognito-messaging/package.json
  lambdas/cognito-user-migrate/package.json
  package.json
  packages/analytics/package.json
  packages/api/package.json
  packages/api/router/component/query.LocationBasedAlertBanner.handler.ts
  packages/auth/package.json
  packages/config/package.json
  packages/db/package.json
  packages/db/prisma/data-migrations/2024-08-22_election-alert.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/prisma/migrations/20240827192047_location_alert_order/migration.sql
  packages/db/prisma/schema.prisma
  packages/env/package.json
  packages/eslint-config/package.json
  packages/ui/components/core/LocationBasedAlertBanner/index.tsx
  packages/ui/package.json
  packages/util/package.json
  pnpm-lock.yaml
Labels: automerge, release

#1403 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ko/attribute.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'
