Repository weareinreach/InReach, pull requests merged in 2024-01, with the labels that each got.

#986 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/landingPage.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#991 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/es/landingPage.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#993 fix: RevolvingBox translations
  packages/ui/components/sections/Hero.tsx
Labels: bugfix, automerge, 📦 ui, kodiak: merge.method = 'squash'

#995 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ar/landingPage.json
  apps/app/public/locales/fr/landingPage.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#994 fix: RevolvingBox translations
  packages/ui/components/sections/Hero.tsx
Labels: bugfix, automerge, 📦 ui, kodiak: merge.method = 'squash'

#1005 feat: update banner text, hide donate button on main page
  apps/app/public/locales/en/landingPage.json
  apps/app/src/pages/index.tsx
  packages/ui/components/core/Donate/index.tsx
Labels: automerge, new-feature, 📦 app, 📦 ui, kodiak: merge.method = 'squash'

#1018 chore: prettier opts & run for new formats
  .prettierrc.js
  apps/app/src/pages/admin/quicklink/services.tsx
  packages/api/schemas/routes/search.ts
  packages/ui/modals/CoverageArea/index.tsx
  packages/ui/modals/dataPortal/Attributes/index.tsx
Labels: priority-low, automerge, maintenance, 📦 app, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1030 Update README.md
  README.md
Labels: documentation, automerge, maintenance, 📦 app, 📦 db, 📦 api, 📦 ui, 📦 auth, 📦 config, 📦 eslint-config, kodiak: merge.method = 'squash', 📦 env, 📦 util, 📦 crowdin, 📦 analytics

#1034 refactor: ModalTitle - remove @mantine/modals
  .github/workflows/pr-labels.yml
  apps/app/package.json
  apps/web/package.json
  packages/ui/components/core/Breadcrumb.tsx
  packages/ui/components/sections/SuggestOrg/index.tsx
  packages/ui/components/sections/SuggestOrg/modals.tsx
  packages/ui/modals/AccountVerified.tsx
  packages/ui/modals/CoverageArea/index.tsx
  packages/ui/modals/DeleteModal.tsx
  packages/ui/modals/Example.stories.tsx
  packages/ui/modals/Example.tsx
  packages/ui/modals/ForgotPassword.tsx
  packages/ui/modals/GenericContent.tsx
  packages/ui/modals/LoginSignUp/index.tsx
  packages/ui/modals/ModalTitle.stories.tsx
  packages/ui/modals/ModalTitle.tsx
  packages/ui/modals/PrivacyStatement.tsx
  packages/ui/modals/ResetPassword.tsx
  packages/ui/modals/Service.tsx
  packages/ui/modals/dataPortal/AlertMessage/index.tsx
  packages/ui/modals/dataPortal/Attributes/index.tsx
  packages/ui/modals/dataPortal/PhoneEmail/index.tsx
  packages/ui/modals/index.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: automerge, refactor, 📦 app, 📦 web, 📦 ui, kodiak: merge.method = 'squash'

#1046 chore: Updated translations from Crowdin
  apps/app/public/locales/fa/attribute.json
  apps/app/public/locales/fa/gov-dist.json
  apps/app/public/locales/fr/landingPage.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/zh/attribute.json
  apps/app/public/locales/zh/common.json
Labels: automerge, translations

#1047 Updated translations from Crowdin
  apps/app/public/locales/ar/landingPage.json
  apps/app/public/locales/de-DE/landingPage.json
Labels: automerge, translations

#1049 feat: update banner text
  apps/app/public/locales/af/common.json
  apps/app/public/locales/af/landingPage.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/ar/landingPage.json
  apps/app/public/locales/de-DE/common.json
  apps/app/public/locales/de-DE/landingPage.json
  apps/app/public/locales/en/common.json
  apps/app/public/locales/en/landingPage.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/landingPage.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fa/landingPage.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/fr/landingPage.json
  apps/app/public/locales/hi/common.json
  apps/app/public/locales/hi/landingPage.json
  apps/app/public/locales/ht/common.json
  apps/app/public/locales/ht/landingPage.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ja/landingPage.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/ko/landingPage.json
  apps/app/public/locales/pl/common.json
  apps/app/public/locales/pl/landingPage.json
  apps/app/public/locales/ps/common.json
  apps/app/public/locales/ps/landingPage.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/pt/landingPage.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/ru/landingPage.json
  apps/app/public/locales/sw/common.json
  apps/app/public/locales/sw/landingPage.json
  apps/app/public/locales/tl/common.json
  apps/app/public/locales/tl/landingPage.json
  apps/app/public/locales/tr-TR/common.json
  apps/app/public/locales/tr-TR/landingPage.json
  apps/app/public/locales/uk/common.json
  apps/app/public/locales/uk/landingPage.json
  apps/app/public/locales/zh/common.json
  apps/app/public/locales/zh/landingPage.json
  apps/app/src/pages/index.tsx
Labels: automerge, new-feature, translations, kodiak: merge.method = 'squash'
