Repository weareinreach/InReach, pull requests merged in 2024-04, with the labels that each got.

#1203 fix: misc data portal fixes/tweaks
  packages/api/router/location/mutation.update.handler.ts
  packages/api/router/location/mutation.update.schema.ts
  packages/api/router/location/query.getAddress.handler.ts
  packages/api/router/orgPhone/query.forEditDrawer.handler.ts
  packages/ui/components/data-display/Hours.tsx
  packages/ui/components/data-portal/AddressDrawer.tsx
  packages/ui/components/data-portal/EmailDrawer/index.tsx
  packages/ui/components/data-portal/PhoneDrawer/index.tsx
  packages/ui/components/data-portal/PhoneNumberEntry/lib.ts
  packages/ui/components/data-portal/PhoneNumberEntry/withHookForm.tsx
  packages/ui/components/sections/VisitCard.stories.tsx
  packages/ui/components/sections/VisitCard.tsx
Labels: bugfix, automerge, refactor, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1208 fix(IN-958): WebsiteDrawer editing
  packages/api/package.json
  packages/api/router/orgWebsite/mutation.update.handler.ts
  packages/api/router/orgWebsite/mutation.update.schema.ts
  packages/api/router/orgWebsite/query.forEditDrawer.handler.ts
  packages/api/router/organization/query.getIdFromSlug.handler.ts
  packages/ui/components/data-display/ContactInfo/Websites.tsx
  packages/ui/components/data-display/ContactInfo/index.tsx
  packages/ui/components/data-display/Hours.tsx
  packages/ui/components/data-portal/AddressDrawer.tsx
  packages/ui/components/data-portal/WebsiteDrawer/index.tsx
  packages/ui/components/sections/ListingBasicInfo.tsx
  packages/ui/hooks/useOrgInfo.ts
  packages/ui/mockData/json/orgWebsite.forEditDrawer.json
  packages/ui/mockData/orgWebsite.ts
  pnpm-lock.yaml
Labels: bugfix, automerge, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1209 fix(): excess renders from GoogleMapsProvider
  apps/app/next.config.mjs
  apps/app/src/pages/org/[slug]/[orgLocationId]/edit.tsx
  packages/ui/hooks/useGoogleMapMarker.tsx
  packages/ui/hooks/useGoogleMaps.ts
  packages/ui/providers/GoogleMaps.tsx
  packages/ui/quick-lint-js.config
Labels: bugfix, automerge, 📦 app, 📦 ui, kodiak: merge.method = 'squash'

#1170 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/de-DE/landingPage.json
  apps/app/public/locales/es/landingPage.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fa/landingPage.json
  apps/app/public/locales/hi/landingPage.json
  apps/app/public/locales/ht/attribute.json
  apps/app/public/locales/ht/country.json
  apps/app/public/locales/ht/gov-dist.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ja/landingPage.json
  apps/app/public/locales/ps/landingPage.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/sw/landingPage.json
  apps/app/public/locales/zh/landingPage.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1210 fix: attribute saving
  apps/app/next.config.mjs
  packages/db/client/extensions/auditContext.ts
  packages/db/client/extensions/idGenerator.ts
  packages/db/client/extensions/json.ts
  packages/db/client/index.ts
  packages/db/lib/generateData.ts
  packages/db/lib/generators/allAttributes.ts
  packages/db/lib/generators/attributeCategory.ts
  packages/db/lib/generators/attributeSuppDataSchemas.ts
  packages/db/lib/generators/attributesByCategory.ts
  packages/db/lib/generators/langs.ts
  packages/db/lib/generators/namespaces.ts
  packages/db/lib/generators/permission.ts
  packages/db/lib/generators/serviceCategory.ts
  packages/db/lib/generators/userRole.ts
  packages/db/lib/generators/userType.ts
  packages/db/lib/idGen.ts
  packages/ui/components/data-portal/ServiceEditDrawer/index.tsx
  packages/ui/components/sections/ServicesInfo.tsx
  packages/ui/components/sections/VisitCard.tsx
  packages/ui/hooks/useGoogleMapMarker.tsx
  packages/ui/modals/Service/processor.tsx
  packages/ui/modals/dataPortal/Attributes/fields.tsx
  packages/ui/modals/dataPortal/Attributes/index.tsx
Labels: bugfix, automerge, 📦 app, 📦 db, 📦 ui, kodiak: merge.method = 'squash'

#1212 fix: badge display for edits
  apps/app/src/pages/org/[slug]/edit.tsx
  packages/db/client/extensions/idGenerator.ts
  packages/db/client/extensions/json.ts
  packages/db/prisma/data-migrations/2024-01-31_fix-attr-supp-json/index.ts
  packages/db/prisma/data-migrations/2024-01-31_target-population-attrib.ts
  packages/db/prisma/data-migrations/2024-02-01_add-missing-attributes/index.ts
  packages/db/prisma/data-migrations/2024-02-02_deactivate-incompatible-attribs.ts
  packages/db/prisma/data-migrations/2024-02-14_attribute-supplement-schemas/index.ts
  packages/db/prisma/data-migrations/2024-02-15_attribute-attachments/index.ts
  packages/db/prisma/data-migrations/2024-02-19_attach-orphan-text.ts
  packages/db/prisma/data-migrations/2024-02-20_appsheet-load/index.ts
  packages/db/prisma/data-migrations/2024-02-23_add-missing-website.ts
  packages/db/prisma/data-migrations/2024-03-08_update-alerts-and-org-urls/index.ts
  packages/db/prisma/data-migrations/2024-03-11_hide-locations.ts
  packages/db/prisma/data-migrations/2024-03-15_update-dead-links/index.ts
  packages/db/prisma/data-migrations/2024-03-21_attribute-supplement-schemas.ts
  packages/db/prisma/data-migrations/2024-04-03_access-instruction-schemas.ts
  packages/db/prisma/dataMigrationRunner.ts
  packages/db/turbo/generators/templates/dataMigration.hbs
  packages/ui/components/sections/ListingBasicInfo.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Labels: bugfix, automerge, 📦 app, 📦 db, 📦 ui, kodiak: merge.method = 'squash'

#1219 chore: update sentry trpc middleware
  packages/api/lib/middleware/sentry.ts
Labels: automerge, maintenance, 📦 api, kodiak: merge.method = 'squash'

#1223 fix: misc data portal fixes
  apps/app/.vscode/launch.json
  apps/app/next-i18next.config.mjs
  apps/app/next.config.mjs
  apps/app/package.json
  apps/app/sentry.client.config.ts
  apps/app/sentry.edge.config.ts
  apps/app/sentry.server.config.ts
  apps/app/src/pages/org/[slug]/[orgLocationId]/edit.tsx
  apps/app/src/pages/org/[slug]/[orgLocationId]/index.tsx
  apps/app/src/utils/i18n.ts
  package.json
  packages/api/router/orgEmail/mutation.update.handler.ts
  packages/api/router/orgEmail/mutation.update.schema.ts
  packages/api/router/service/index.ts
  packages/api/router/service/mutation.upsert.handler.ts
  packages/api/router/service/mutation.upsert.schema.ts
  packages/api/router/service/schemas.ts
  packages/db/turbo.json
  packages/ui/components/core/MobileNav.tsx
  packages/ui/components/data-portal/EmailDrawer/index.stories.tsx
  packages/ui/components/data-portal/EmailDrawer/index.tsx
  packages/ui/components/data-portal/ServiceEditDrawer/index.tsx
  packages/ui/components/data-portal/ServiceEditDrawer/schemas.ts
  packages/ui/components/sections/Navbar.tsx
  packages/ui/components/sections/ServicesInfo.tsx
  packages/ui/mockData/orgEmail.ts
  packages/ui/providers/EditMode.tsx
  packages/ui/providers/LoadingState.tsx
  packages/ui/providers/SearchState.tsx
  pnpm-lock.yaml
Labels: bugfix, automerge, 📦 app, 📦 db, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1233 fix: misc data portal
  InReach.code-workspace
  packages/api/router/component/index.ts
  packages/api/router/component/mutation.AttributeEditWrapper.handler.ts
  packages/api/router/component/mutation.AttributeEditWrapper.schema.ts
  packages/api/router/component/schemas.ts
  packages/api/router/orgWebsite/index.ts
  packages/api/router/orgWebsite/mutation.upsert.handler.ts
  packages/api/router/orgWebsite/mutation.upsert.schema.ts
  packages/api/router/orgWebsite/schemas.ts
  packages/api/schemas/nestedOps.ts
  packages/db/lib/generateFreeText.ts
  packages/ui/components/data-display/ContactInfo/Emails.tsx
  packages/ui/components/data-display/ContactInfo/Websites.tsx
  packages/ui/components/data-portal/PhoneDrawer/index.tsx
  packages/ui/components/data-portal/ServiceEditDrawer/index.tsx
  packages/ui/components/data-portal/WebsiteDrawer/index.tsx
  packages/ui/hooks/useFreeText.ts
  packages/ui/modals/Service/index.tsx
  packages/ui/modals/Service/processor.tsx
  packages/ui/modals/Service/processors/additionalAttrib.ts
  packages/ui/modals/Service/processors/costAttrib.ts
  packages/ui/modals/Service/processors/eligAgeAttrib.ts
  packages/ui/modals/Service/processors/eligOtherAttrib.ts
  packages/ui/modals/Service/processors/emailAccess.ts
  packages/ui/modals/Service/processors/index.ts
  packages/ui/modals/Service/processors/langAttrib.ts
  packages/ui/modals/Service/processors/linkAccess.ts
  packages/ui/modals/Service/processors/phoneAccess.ts
  packages/ui/modals/Service/processors/publicTransit.ts
  packages/ui/modals/Service/processors/srvfocusAttrib.ts
  packages/ui/modals/Service/processors/targetPopAttrib.ts
  packages/ui/modals/Service/types.ts
  packages/ui/modals/dataPortal/Attributes/index.tsx
  pnpm-lock.yaml
Labels: bugfix, automerge, 📦 db, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1238 fix: social media saving
  apps/app/src/pages/account/index.tsx
  apps/app/src/pages/account/reviews.tsx
  apps/app/src/pages/account/saved.tsx
  apps/app/src/pages/org/[slug]/[orgLocationId]/index.tsx
  apps/app/src/pages/org/[slug]/index.tsx
  apps/app/src/pages/org/[slug]/remote.tsx
  apps/app/src/pages/search/[...params]/index.tsx
  apps/app/src/providers/index.tsx
  packages/api/package.json
  packages/api/router/orgSocialMedia/index.ts
  packages/api/router/orgSocialMedia/mutation.upsert.handler.ts
  packages/api/router/orgSocialMedia/mutation.upsert.schema.ts
  packages/api/router/orgSocialMedia/schemas.ts
  packages/ui/components/core/AntiHateMessage.tsx
  packages/ui/components/core/Breadcrumb.tsx
  packages/ui/components/core/Button.tsx
  packages/ui/components/core/GoogleMap.stories.tsx
  packages/ui/components/core/GoogleMap.tsx
  packages/ui/components/core/LangPicker.tsx
  packages/ui/components/core/Link.tsx
  packages/ui/components/core/Pagination.tsx
  packages/ui/components/core/Rating.tsx
  packages/ui/components/core/SearchBox.stories.tsx
  packages/ui/components/core/SearchBox.tsx
  packages/ui/components/core/SearchDistance.tsx
  packages/ui/components/core/SearchResultCard.stories.tsx
  packages/ui/components/core/SearchResultCard.tsx
  packages/ui/components/core/Tabs.stories.tsx
  packages/ui/components/core/UserAvatar.tsx
  packages/ui/components/core/UserMenu.tsx
  packages/ui/components/core/UserReview.tsx
  packages/ui/components/core/UserReviewSubmit.tsx
  packages/ui/components/data-display/ContactInfo/SocialMedia.tsx
  packages/ui/components/data-portal/SocialMediaDrawer/index.tsx
  packages/ui/package.json
  packages/ui/theme/variants/index.ts
  pnpm-lock.yaml
Labels: bugfix, automerge, 📦 app, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1240 fix: misc sonarlint issues
  apps/app/lib/generate.ts
  apps/app/lib/prebuild.ts
  apps/app/lib/wdyr.ts
  apps/app/src/middleware.ts
  apps/app/src/pages/api/i18n/load.ts
  apps/app/src/pages/api/trpc-playground.ts
  apps/app/src/pages/api/trpc/[trpc].ts
  apps/app/src/pages/index.tsx
  apps/app/src/pages/suggest.tsx
  apps/app/src/pages/support/index.tsx
  apps/app/src/utils/api.ts
  lib/postinstall.ts
  packages/ui/modals/AccountVerified.tsx
  packages/ui/modals/ClaimOrg.tsx
  packages/ui/modals/CreateNewList.tsx
  packages/ui/modals/DeleteModal.tsx
  packages/ui/modals/ForgotPassword.tsx
  packages/ui/modals/GenericContent.tsx
  packages/ui/modals/ModalTitle.tsx
  packages/ui/modals/MoreFilter.tsx
  packages/ui/modals/PrivacyStatement.tsx
  packages/ui/modals/QuickPromotion.tsx
  packages/ui/modals/ResetPassword.tsx
  packages/ui/modals/Review.tsx
  packages/ui/modals/ServiceFilter/index.tsx
  packages/ui/providers/SearchState.tsx
Labels: bugfix, automerge, 📦 app, 📦 ui, kodiak: merge.method = 'squash'

#1246 feat: crowdin updating
  .github/renovate.json
  apps/app/lib/generate.ts
  apps/app/lib/generators/translationKeys.ts
  apps/app/package.json
  apps/app/src/pages/api/i18n/load.ts
  packages/api/router/orgEmail/mutation.create.handler.ts
  packages/api/router/orgEmail/mutation.create.schema.ts
  packages/api/router/orgEmail/mutation.update.handler.ts
  packages/api/router/orgEmail/mutation.upsertMany.handler.ts
  packages/api/router/orgPhone/index.ts
  packages/api/router/orgPhone/mutation.create.handler.ts
  packages/api/router/orgPhone/mutation.create.schema.ts
  packages/api/router/orgPhone/mutation.update.handler.ts
  packages/api/router/orgPhone/mutation.upsertMany.handler.ts
  packages/api/router/orgPhone/mutation.upsertMany.schema.ts
  packages/api/router/orgPhone/schemas.ts
  packages/api/router/orgWebsite/mutation.create.handler.ts
  packages/api/router/orgWebsite/mutation.create.schema.ts
  packages/api/router/orgWebsite/mutation.update.handler.ts
  packages/api/router/orgWebsite/mutation.update.schema.ts
  packages/api/router/orgWebsite/mutation.upsert.handler.ts
  packages/api/router/organization/mutation.attachAttribute.handler.ts
  packages/api/router/organization/mutation.createNewQuick.handler.ts
  packages/api/router/organization/mutation.createNewSuggestion.handler.ts
  packages/api/router/organization/mutation.createNewSuggestion.schema.ts
  packages/api/router/organization/mutation.updateBasic.handler.ts
  packages/api/router/service/mutation.create.handler.ts
  packages/api/router/service/mutation.create.schema.ts
  packages/api/router/service/mutation.createAccessInstructions.handler.ts
  packages/api/router/service/mutation.upsert.handler.ts
  packages/crowdin/api/index.ts
  packages/crowdin/cache/index.ts
  packages/crowdin/common/apiFns.ts
  packages/crowdin/common/otaFns.ts
  packages/crowdin/common/updateOpts.ts
  packages/crowdin/constants.ts
  packages/crowdin/ota/edge.ts
  packages/crowdin/ota/index.ts
  packages/crowdin/package.json
  packages/db/lib/generateFreeText.ts
  packages/db/package.json
  packages/db/prisma/common.ts
  packages/db/prisma/data-migrations/2024-04-24_update-crowdin-ids.ts
  packages/db/prisma/data-migrations/2024-04-25_translation-activation-flag.ts
  packages/db/prisma/data-migrations/index.ts
  packages/db/prisma/migrations/20240425151405_add_suggested_by/migration.sql
  packages/db/prisma/migrations/20240425164515_translation_active_flag/migration.sql
  packages/db/prisma/migrations/20240425164913_overwrite_file_on_export_flag/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/turbo/generators/templates/dataMigration.hbs
  packages/ui/components/data-portal/EmailTableDrawer.stories.tsx
  packages/ui/components/data-portal/EmailTableDrawer.tsx
  packages/ui/components/data-portal/PhoneTableDrawer.stories.tsx
  packages/ui/components/data-portal/PhoneTableDrawer.tsx
  pnpm-lock.yaml
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui, kodiak: merge.method = 'squash', 📦 crowdin
