Repository weareinreach/InReach, pull requests merged in 2024-02, with the labels that each got.

#1064 feat: update main banner
  .gitignore
  .prettierignore
  .prettierrc.js
  apps/app/public/locales/af/landingPage.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/ar/gov-dist.json
  apps/app/public/locales/ar/landingPage.json
  apps/app/public/locales/ar/user.json
  apps/app/public/locales/de-DE/landingPage.json
  apps/app/public/locales/en/landingPage.json
  apps/app/public/locales/es/landingPage.json
  apps/app/public/locales/fa/country.json
  apps/app/public/locales/fa/gov-dist.json
  apps/app/public/locales/fa/landingPage.json
  apps/app/public/locales/fa/services.json
  apps/app/public/locales/fa/suggestOrg.json
  apps/app/public/locales/fa/user.json
  apps/app/public/locales/fr/landingPage.json
  apps/app/public/locales/hi/landingPage.json
  apps/app/public/locales/ht/landingPage.json
  apps/app/public/locales/ja/attribute.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ja/country.json
  apps/app/public/locales/ja/gov-dist.json
  apps/app/public/locales/ja/landingPage.json
  apps/app/public/locales/ja/services.json
  apps/app/public/locales/ja/suggestOrg.json
  apps/app/public/locales/ja/user.json
  apps/app/public/locales/ko/landingPage.json
  apps/app/public/locales/pl/landingPage.json
  apps/app/public/locales/ps/landingPage.json
  apps/app/public/locales/pt/country.json
  apps/app/public/locales/pt/gov-dist.json
  apps/app/public/locales/pt/landingPage.json
  apps/app/public/locales/pt/phone-type.json
  apps/app/public/locales/pt/services.json
  apps/app/public/locales/pt/suggestOrg.json
  apps/app/public/locales/pt/user.json
  apps/app/public/locales/ru/country.json
  apps/app/public/locales/ru/landingPage.json
  apps/app/public/locales/sw/landingPage.json
  apps/app/public/locales/tl/landingPage.json
  apps/app/public/locales/tr-TR/landingPage.json
  apps/app/public/locales/uk/landingPage.json
  apps/app/public/locales/zh/attribute.json
  apps/app/public/locales/zh/common.json
  apps/app/public/locales/zh/country.json
  apps/app/public/locales/zh/gov-dist.json
  apps/app/public/locales/zh/landingPage.json
  apps/app/public/locales/zh/services.json
  apps/app/public/locales/zh/suggestOrg.json
  apps/app/public/locales/zh/user.json
  apps/app/src/pages/index.tsx
Labels: automerge, new-feature, release, kodiak: merge.method = 'squash'

#1071 feat: data portal menu item
  apps/app/public/locales/en/common.json
  apps/app/src/pages/api/i18n/load.ts
  apps/app/src/pages/api/trpc/[trpc].ts
  apps/app/src/pages/org/[slug]/index.tsx
  apps/app/src/utils/i18n.ts
  apps/app/src/utils/nsFormatter.ts
  packages/api/trpc/ssr.ts
  packages/auth/index.browser.ts
  packages/auth/index.ts
  packages/auth/next-auth/session.browser.ts
  packages/auth/next-auth/session.server.ts
  packages/auth/package.json
  packages/ui/components/core/UserMenu.tsx
  packages/ui/components/data-portal/OrganizationTable.tsx
  packages/ui/components/sections/ListingBasicInfo.tsx
  packages/ui/components/sections/Navbar.tsx
Labels: automerge, new-feature, 📦 app, 📦 api, 📦 ui, 📦 auth, kodiak: merge.method = 'squash'

#1048 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/af/common.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/ar/landingPage.json
  apps/app/public/locales/de-DE/common.json
  apps/app/public/locales/de-DE/landingPage.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/landingPage.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fa/landingPage.json
  apps/app/public/locales/fa/phone-type.json
  apps/app/public/locales/fa/services.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/fr/landingPage.json
  apps/app/public/locales/hi/common.json
  apps/app/public/locales/ht/common.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ja/gov-dist.json
  apps/app/public/locales/ja/landingPage.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/ko/landingPage.json
  apps/app/public/locales/pl/common.json
  apps/app/public/locales/pl/landingPage.json
  apps/app/public/locales/ps/common.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/pt/landingPage.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/sw/common.json
  apps/app/public/locales/tl/common.json
  apps/app/public/locales/tr-TR/common.json
  apps/app/public/locales/tr-TR/landingPage.json
  apps/app/public/locales/uk/common.json
  apps/app/public/locales/uk/landingPage.json
  apps/app/public/locales/zh/common.json
  apps/app/public/locales/zh/gov-dist.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1081 feat: join tables for OrgWebsite & OrgSocialMedia
  packages/api/router/location/query.getById.handler.ts
  packages/api/router/location/query.getByOrgId.handler.ts
  packages/api/router/misc/query.hasContactInfo.handler.ts
  packages/api/router/orgSocialMedia/mutation.update.handler.ts
  packages/api/router/orgSocialMedia/query.forContactInfo.handler.ts
  packages/api/router/orgSocialMedia/query.forContactInfoEdits.handler.ts
  packages/api/router/orgSocialMedia/query.forEditDrawer.handler.ts
  packages/api/router/orgWebsite/mutation.create.schema.ts
  packages/api/router/orgWebsite/query.forContactInfo.handler.ts
  packages/api/router/orgWebsite/query.forContactInfoEdit.handler.ts
  packages/api/schemas/create/orgSocialMedia.ts
  packages/api/schemas/create/orgWebsite.ts
  packages/api/schemas/selects/org.ts
  packages/api/selects/global.ts
  packages/db/lib/idGen.ts
  packages/db/prisma/migrations/20240209180602_indexing_and_join_tables_for_websites_and_social_media/migration.sql
  packages/db/prisma/schema.prisma
Labels: automerge, new-feature, 📦 db, 📦 api, kodiak: merge.method = 'squash'

#1083 feat: search result page alert banner
  apps/app/public/locales/en/common.json
  apps/app/src/pages/search/[...params]/index.tsx
Labels: automerge, new-feature, 📦 app, kodiak: merge.method = 'squash'

#1084 release: search result page alert banner
  apps/app/public/locales/af/common.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/ar/landingPage.json
  apps/app/public/locales/de-DE/common.json
  apps/app/public/locales/de-DE/landingPage.json
  apps/app/public/locales/en/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fa/landingPage.json
  apps/app/public/locales/fa/phone-type.json
  apps/app/public/locales/fa/services.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/hi/common.json
  apps/app/public/locales/ht/common.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ja/gov-dist.json
  apps/app/public/locales/ja/landingPage.json
  apps/app/public/locales/ja/services.json
  apps/app/public/locales/ja/suggestOrg.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/ko/landingPage.json
  apps/app/public/locales/pl/common.json
  apps/app/public/locales/ps/common.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/sw/common.json
  apps/app/public/locales/tl/common.json
  apps/app/public/locales/tr-TR/common.json
  apps/app/public/locales/uk/common.json
  apps/app/public/locales/zh/common.json
  apps/app/public/locales/zh/gov-dist.json
  apps/app/src/pages/search/[...params]/index.tsx
Labels: automerge, release, kodiak: merge.method = 'squash'

#1107 refactor: api handler cache
  packages/api/router/fieldOpt/index.ts
  packages/api/router/fieldOpt/query.attributeCategories.handler.ts
  packages/api/router/fieldOpt/query.attributesByCategory.handler.ts
  packages/api/router/fieldOpt/query.attributesByCategory.schema.ts
  packages/api/router/fieldOpt/query.countries.handler.ts
  packages/api/router/fieldOpt/query.countryGovDistMap.handler.ts
  packages/api/router/fieldOpt/query.getSubDistricts.handler.ts
  packages/api/router/fieldOpt/query.govDists.handler.ts
  packages/api/router/fieldOpt/query.govDistsByCountry.handler.ts
  packages/api/router/fieldOpt/query.govDistsByCountryNoSub.handler.ts
  packages/api/router/fieldOpt/query.languages.handler.ts
  packages/api/router/fieldOpt/query.orgBadges.handler.ts
  packages/api/router/fieldOpt/query.phoneTypes.handler.ts
  packages/api/router/fieldOpt/query.userTitle.handler.ts
  packages/api/router/geo/index.ts
  packages/api/router/geo/query.autocomplete.handler.ts
  packages/api/router/geo/query.geoByPlaceId.handler.ts
  packages/api/router/misc/index.ts
  packages/api/router/misc/query.forEditNavbar.handler.ts
  packages/api/router/misc/query.getCountryTranslation.handler.ts
  packages/api/router/misc/query.hasContactInfo.handler.ts
  packages/api/router/service/query.forServiceEditDrawer.handler.ts
  packages/db/zod_util/attributeSupplement.ts
Labels: automerge, refactor, 📦 db, 📦 api, kodiak: merge.method = 'squash'

#1079 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/landingPage.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/fr/landingPage.json
  apps/app/public/locales/ja/attribute.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ja/country.json
  apps/app/public/locales/ja/gov-dist.json
  apps/app/public/locales/ja/landingPage.json
  apps/app/public/locales/ja/user.json
  apps/app/public/locales/pl/landingPage.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/uk/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1115 chore: data migrations
  package.json
  packages/api/router/organization/query.searchDistance.handler.ts
  packages/db/lib/generateFreeText.ts
  packages/db/package.json
  packages/db/prisma/data-migrations/2024-02-19_attach-orphan-text.ts
  packages/db/prisma/data-migrations/2024-02-20_appsheet-load/!load.ts
  packages/db/prisma/data-migrations/2024-02-20_appsheet-load/!prep-single.ts
  packages/db/prisma/data-migrations/2024-02-20_appsheet-load/!schemas.ts
  packages/db/prisma/data-migrations/2024-02-20_appsheet-load/index.ts
  packages/db/prisma/data-migrations/2024-02-23_add-missing-website.ts
  packages/db/prisma/data-migrations/index.ts
  packages/util/package.json
  packages/util/social-parser/index.ts
  patches/social-links@1.14.0.patch
  pnpm-lock.yaml
Labels: automerge, maintenance, 📦 db, 📦 api, kodiak: merge.method = 'squash', 📦 util

#1114 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ja/gov-dist.json
  apps/app/public/locales/uk/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1121 release: 2024-02-23
  .github/workflows/codeql.yml
  .github/workflows/codesee-arch-diagram.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/njsscan.yml
  apps/app/lib/generators/translationKeys.ts
  apps/app/package.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/landingPage.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/fr/landingPage.json
  apps/app/public/locales/ja/attribute.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ja/country.json
  apps/app/public/locales/ja/gov-dist.json
  apps/app/public/locales/ja/landingPage.json
  apps/app/public/locales/ja/user.json
  apps/app/public/locales/pl/landingPage.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/uk/common.json
  apps/web/package.json
  lambdas/cognito-messaging/package.json
  lambdas/cognito-user-migrate/package.json
  package.json
  packages/analytics/package.json
  packages/api/package.json
  packages/api/router/organization/query.searchDistance.handler.ts
  packages/auth/package.json
  packages/config/package.json
  packages/crowdin/package.json
  packages/db/lib/generateFreeText.ts
  packages/db/package.json
  packages/db/prisma/data-migrations/2024-02-19_attach-orphan-text.ts
  packages/db/prisma/data-migrations/2024-02-20_appsheet-load/!load.ts
  packages/db/prisma/data-migrations/2024-02-20_appsheet-load/!prep-single.ts
  packages/db/prisma/data-migrations/2024-02-20_appsheet-load/!schemas.ts
  packages/db/prisma/data-migrations/2024-02-20_appsheet-load/index.ts
  packages/db/prisma/data-migrations/2024-02-23_add-missing-website.ts
  packages/db/prisma/data-migrations/index.ts
  packages/env/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  packages/util/package.json
  packages/util/social-parser/index.ts
  patches/social-links@1.14.0.patch
  pnpm-lock.yaml
Labels: automerge, release

#1125 chore: dev setup
  .env.example
  .npmrc
  README.md
  apps/app/package.json
  docker/docker-compose.yml
  docker/docker-control.ts
  package.json
  packages/db/.eslintignore
  packages/db/.snaplet/config.json
  packages/db/.snaplet/snaplet-client.d.ts
  packages/db/.snaplet/snaplet.d.ts
  packages/db/package.json
  packages/db/snaplet.config.ts
  packages/db/turbo.json
  packages/ui/package.json
  pnpm-lock.yaml
  tsconfig.json
  turbo.json
Labels: automerge, maintenance, 📦 app, 📦 db, 📦 ui, kodiak: merge.method = 'squash'

#1123 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ja/gov-dist.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1127 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/ja/gov-dist.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1130 release: 2024-02-27
  .env.example
  .npmrc
  InReach.code-workspace
  README.md
  apps/app/package.json
  apps/app/public/locales/ja/gov-dist.json
  apps/web/package.json
  docker/docker-compose.yml
  docker/docker-control.ts
  lambdas/cognito-messaging/package.json
  lambdas/cognito-user-migrate/package.json
  package.json
  packages/api/package.json
  packages/api/router/location/query.forLocationCard.handler.ts
  packages/api/router/organization/query.slugRedirect.handler.ts
  packages/auth/package.json
  packages/db/.eslintignore
  packages/db/.gitignore
  packages/db/.snaplet/config.json
  packages/db/.snaplet/snaplet-client.d.ts
  packages/db/.snaplet/snaplet.d.ts
  packages/db/package.json
  packages/db/snaplet.config.ts
  packages/db/turbo.json
  packages/eslint-config/package.json
  packages/ui/components/sections/LocationCard.tsx
  packages/ui/package.json
  packages/util/package.json
  pnpm-lock.yaml
  tsconfig.json
  turbo.json
Labels: automerge, release
