Repository weareinreach/InReach, pull requests merged in 2025-07, with the labels that each got.

#1211 feat: user management table
  apps/app/public/locales/en/common.json
  apps/app/src/pages/account/saved/[listId].tsx
  apps/app/src/pages/admin/management.tsx
  apps/app/src/types/nextjs-routes.d.ts
  packages/api/lib/middleware/permissions.ts
  packages/api/lib/permissions.ts
  packages/api/router/user/index.ts
  packages/api/router/user/mutation.toggleDataPortalAccess.handler.ts
  packages/api/router/user/mutation.toggleDataPortalAccess.schema.ts
  packages/api/router/user/query.forUserTable.handler.ts
  packages/api/router/user/query.forUserTable.schema.ts
  packages/api/router/user/schemas.ts
  packages/ui/components/core/UserMenu.tsx
  packages/ui/components/data-portal/ManagementTable.stories.tsx
  packages/ui/components/data-portal/ManagementTable.tsx
  packages/ui/mockData/json/user.forUserTable.json
  packages/ui/mockData/user.ts
Labels: automerge, new-feature, 📦 app, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1495 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/af/common.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/de-DE/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/hi/common.json
  apps/app/public/locales/ht/common.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/pl/common.json
  apps/app/public/locales/ps/common.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/sw/common.json
  apps/app/public/locales/tl/common.json
  apps/app/public/locales/tr-TR/common.json
  apps/app/public/locales/uk/common.json
  apps/app/public/locales/zh/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1497 release: 07-09-2025: feat(app): add user management table
  apps/app/public/locales/af/common.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/de-DE/common.json
  apps/app/public/locales/en/common.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/hi/common.json
  apps/app/public/locales/ht/common.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/pl/common.json
  apps/app/public/locales/ps/common.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/sw/common.json
  apps/app/public/locales/tl/common.json
  apps/app/public/locales/tr-TR/common.json
  apps/app/public/locales/uk/common.json
  apps/app/public/locales/zh/common.json
  apps/app/src/pages/account/saved/[listId].tsx
  apps/app/src/pages/admin/management.tsx
  apps/app/src/types/nextjs-routes.d.ts
  packages/api/lib/middleware/permissions.ts
  packages/api/lib/permissions.ts
  packages/api/router/user/index.ts
  packages/api/router/user/mutation.toggleDataPortalAccess.handler.ts
  packages/api/router/user/mutation.toggleDataPortalAccess.schema.ts
  packages/api/router/user/query.forUserTable.handler.ts
  packages/api/router/user/query.forUserTable.schema.ts
  packages/api/router/user/schemas.ts
  packages/ui/components/core/UserMenu.tsx
  packages/ui/components/data-portal/ManagementTable.stories.tsx
  packages/ui/components/data-portal/ManagementTable.tsx
  packages/ui/mockData/json/user.forUserTable.json
  packages/ui/mockData/user.ts
Labels: new-feature, 📦 app, release

#1498 feat(app): fixing up build errors
  apps/app/src/pages/account/saved/[listId].tsx
Labels: 📦 app, release

#1499 feat(app): fix ts-errors with noImplicitAny error
  apps/app/src/pages/account/saved/[listId].tsx
Labels: 📦 app, release

#1509 fix ts-error is UserMenu
  packages/ui/components/core/UserMenu.tsx
Labels: automerge, 📦 ui, kodiak: merge.method = 'squash'

#1512 feat(app): Clean up changes to finish up the User Management dashboard
  apps/app/public/locales/en/common.json
  apps/app/src/pages/account/saved/[listId].tsx
  apps/app/src/pages/search/intl/index.tsx
Labels: automerge, new-feature, 📦 app, kodiak: merge.method = 'squash'

#1514 chore(release): 2025-07-15 “July B”
  apps/app/public/locales/en/common.json
  apps/app/src/pages/account/saved/[listId].tsx
  apps/app/src/pages/admin/management.tsx
  apps/app/src/pages/admin/quicklink/email.tsx
  apps/app/src/pages/search/intl/index.tsx
  apps/app/src/types/nextjs-routes.d.ts
  packages/api/lib/middleware/permissions.ts
  packages/api/lib/permissions.ts
  packages/api/router/user/index.ts
  packages/api/router/user/mutation.toggleDataPortalAccess.handler.ts
  packages/api/router/user/mutation.toggleDataPortalAccess.schema.ts
  packages/api/router/user/query.forUserTable.handler.ts
  packages/api/router/user/query.forUserTable.schema.ts
  packages/api/router/user/schemas.ts
  packages/ui/components/core/Badge/Group.tsx
  packages/ui/components/core/Section/Divider.tsx
  packages/ui/components/core/UserMenu.tsx
  packages/ui/components/data-portal/ManagementTable.stories.tsx
  packages/ui/components/data-portal/ManagementTable.tsx
  packages/ui/components/data-portal/MultiSelectPopover/hook-form.tsx
  packages/ui/components/sections/CrisisSupport/index.stories.tsx
  packages/ui/modals/Service/index.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Labels: new-feature, 📦 app, release
