Repository weareinreach/InReach, pull requests merged in 2025-08, with the labels that each got.

#1515 feat(app): Adding a Download dashboard for various CSV file downloads
  apps/app/public/locales/en/attribute.json
  apps/app/public/locales/en/common.json
  apps/app/public/locales/en/country.json
  apps/app/public/locales/en/services.json
  apps/app/src/pages/admin/index.tsx
  apps/app/src/pages/admin/management.tsx
  apps/app/src/pages/org/[slug]/index.tsx
  apps/app/src/types/nextjs-routes.d.ts
  packages/api/router/csvDownload/index.ts
  packages/api/router/csvDownload/query.getAllPublishedForCSV.handler.ts
  packages/api/router/csvDownload/query.getAllPublishedForCSV.schema.ts
  packages/api/router/csvDownload/query.getAllUnpublishedForCSV.handler.ts
  packages/api/router/csvDownload/query.getAllUnpublishedForCSV.schema.ts
  packages/api/router/csvDownload/query.getOrgCountByCountry.handler.ts
  packages/api/router/csvDownload/query.getOrgCountByCountry.schema.ts
  packages/api/router/csvDownload/query.getOrgCountByCountryAttribute.handler.ts
  packages/api/router/csvDownload/query.getOrgCountByCountryAttribute.schema.ts
  packages/api/router/csvDownload/query.getOrgCountByState.handler.ts
  packages/api/router/csvDownload/query.getOrgCountByState.schema.ts
  packages/api/router/csvDownload/query.getOrgsWithReviews.handler.ts
  packages/api/router/csvDownload/query.getOrgsWithReviews.schema.ts
  packages/api/router/csvDownload/query.getPublishedOrgServicesCalifornia.handler.ts
  packages/api/router/csvDownload/query.getPublishedOrgServicesCalifornia.schema.ts
  packages/api/router/csvDownload/query.getServiceCountByCountry.handler.ts
  packages/api/router/csvDownload/query.getServiceCountByCountry.schema.ts
  packages/api/router/csvDownload/query.getServicesCountByCategoryCalifornia.handler.ts
  packages/api/router/csvDownload/query.getServicesCountByCategoryCalifornia.schema.ts
  packages/api/router/csvDownload/query.getServicesCountByCategoryCountry.handler.ts
  packages/api/router/csvDownload/query.getServicesCountByCategoryCountry.schema.ts
  packages/api/router/csvDownload/query.getServicesCountByCountryAttribute.handler.ts
  packages/api/router/csvDownload/query.getServicesCountByCountryAttribute.schema.ts
  packages/api/router/csvDownload/query.getServicesCountByCountryState.handler.ts
  packages/api/router/csvDownload/query.getServicesCountByCountryState.schema.ts
  packages/api/router/csvDownload/schemas.ts
  packages/api/router/index.ts
  packages/api/router/organization/index.ts
  packages/api/router/organization/schemas.ts
  packages/api/router/user/mutation.toggleDataPortalAccess.handler.ts
  packages/api/router/user/mutation.toggleDataPortalAccess.schema.ts
  packages/api/router/user/query.forUserTable.handler.ts
  packages/db/prisma/migrations/20250724165511_update_csv_view/migration.sql
  packages/db/prisma/migrations/20250724165522_create_view_for_org_review/migration.sql
  packages/ui/components/core/ActionButtons/index.stories.tsx
  packages/ui/components/core/ActionButtons/index.tsx
  packages/ui/components/core/UserMenu.tsx
  packages/ui/components/data-portal/CsvDownload.stories.tsx
  packages/ui/components/data-portal/CsvDownload.tsx
  packages/ui/components/data-portal/DownloadTable.stories.tsx
  packages/ui/components/data-portal/DownloadTable.tsx
  packages/ui/components/data-portal/ManagementTable.tsx
  packages/ui/components/data-portal/OrganizationTable.tsx
  packages/ui/components/data-portal/UserTable.stories.tsx
  packages/ui/components/data-portal/UserTable.tsx
  packages/ui/mockData/downloads.ts
  packages/ui/mockData/json/downloads.forAllPublishedOrganizations.json
  packages/ui/mockData/json/downloads.forAllUnpublishedOrganizations.json
  packages/ui/mockData/json/user.forUserTable.json
  packages/ui/mockData/user.ts
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1519 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/af/attribute.json
  apps/app/public/locales/af/common.json
  apps/app/public/locales/af/services.json
  apps/app/public/locales/ar/attribute.json
  apps/app/public/locales/ar/common.json
  apps/app/public/locales/ar/services.json
  apps/app/public/locales/de-DE/attribute.json
  apps/app/public/locales/de-DE/common.json
  apps/app/public/locales/de-DE/services.json
  apps/app/public/locales/es/attribute.json
  apps/app/public/locales/es/common.json
  apps/app/public/locales/es/services.json
  apps/app/public/locales/fa/attribute.json
  apps/app/public/locales/fa/common.json
  apps/app/public/locales/fa/services.json
  apps/app/public/locales/fr/attribute.json
  apps/app/public/locales/fr/common.json
  apps/app/public/locales/fr/services.json
  apps/app/public/locales/hi/attribute.json
  apps/app/public/locales/hi/common.json
  apps/app/public/locales/hi/services.json
  apps/app/public/locales/ht/attribute.json
  apps/app/public/locales/ht/common.json
  apps/app/public/locales/ht/services.json
  apps/app/public/locales/ja/attribute.json
  apps/app/public/locales/ja/common.json
  apps/app/public/locales/ja/services.json
  apps/app/public/locales/ko/attribute.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/ko/services.json
  apps/app/public/locales/pl/attribute.json
  apps/app/public/locales/pl/common.json
  apps/app/public/locales/pl/services.json
  apps/app/public/locales/ps/attribute.json
  apps/app/public/locales/ps/common.json
  apps/app/public/locales/ps/services.json
  apps/app/public/locales/pt/attribute.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/pt/services.json
  apps/app/public/locales/ru/attribute.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/ru/services.json
  apps/app/public/locales/sw/attribute.json
  apps/app/public/locales/sw/common.json
  apps/app/public/locales/sw/services.json
  apps/app/public/locales/tl/attribute.json
  apps/app/public/locales/tl/common.json
  apps/app/public/locales/tl/services.json
  apps/app/public/locales/tr-TR/attribute.json
  apps/app/public/locales/tr-TR/common.json
  apps/app/public/locales/tr-TR/services.json
  apps/app/public/locales/uk/attribute.json
  apps/app/public/locales/uk/common.json
  apps/app/public/locales/uk/services.json
  apps/app/public/locales/zh/attribute.json
  apps/app/public/locales/zh/common.json
  apps/app/public/locales/zh/services.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1520 chore(i18n): Updated translations from Crowdin
  apps/app/public/locales/es/common.json
  apps/app/public/locales/ko/common.json
  apps/app/public/locales/pt/common.json
  apps/app/public/locales/ru/common.json
  apps/app/public/locales/zh/common.json
Labels: automerge, translations, 📦 app, kodiak: merge.method = 'squash'

#1521 feat(app): Display and Create Internal Notes for an Organization, Display Audit Trail, Display key dates
  apps/app/src/pages/org/[slug]/edit.tsx
  packages/api/lib/middleware/permissions.ts
  packages/api/router/auditTrail/index.ts
  packages/api/router/auditTrail/query.getAllForOrg.handler.ts
  packages/api/router/auditTrail/query.getAllForOrg.schema.ts
  packages/api/router/auditTrail/schemas.ts
  packages/api/router/index.ts
  packages/api/router/internalNote/mutation.create.handler.ts
  packages/api/router/internalNote/query.getAllForRecord.handler.ts
  packages/api/router/internalNote/query.getAllForRecord.schema.ts
  packages/api/router/organization/query.forOrgPageEdits.handler.ts
  packages/db/prisma/migrations/202500808214500_add_userId_column_internal_note/migration.sql
  packages/db/prisma/migrations/20250808_sync_indexes/migration.sql
  packages/db/prisma/schema.prisma
  packages/ui/components/data-portal/Action.stories.tsx
  packages/ui/components/data-portal/Action.tsx
  packages/ui/components/data-portal/Activity.stories.tsx
  packages/ui/components/data-portal/Activity.tsx
  packages/ui/components/data-portal/AuditDrawer.stories.tsx
  packages/ui/components/data-portal/AuditDrawer.tsx
  packages/ui/components/data-portal/InternalNotesDrawer.stories.tsx
  packages/ui/components/data-portal/InternalNotesDrawer.tsx
  packages/ui/components/sections/DataToolbar.stories.tsx
  packages/ui/components/sections/DataToolbar.tsx
Labels: automerge, new-feature, 📦 app, 📦 db, 📦 api, 📦 ui, kodiak: merge.method = 'squash'

#1526 chore(release): 2025-08-11 "August B"
  .github/renovate.json
  .github/workflows/approve.yml
  .github/workflows/cache.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/crowdin.yml
  .github/workflows/labels.yml
  .github/workflows/lint.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/njsscan.yml
  .github/workflows/pr-labels.yml
  .github/workflows/stale.yml
  apps/app/package.json
  package.json
  packages/api/package.json
  packages/ui/components/core/GoogleMap.tsx
  packages/ui/components/data-portal/Action.tsx
  packages/ui/components/data-portal/InlineTextInput.stories.tsx
  packages/ui/components/data-portal/InlineTextInput.tsx
  packages/ui/components/data-portal/MultiSelectPopover/hook-form.tsx
  packages/ui/components/data-portal/MultiSelectPopover/index.tsx
  packages/ui/components/data-portal/MultiSelectPopover/styles.ts
  packages/ui/components/data-portal/ServiceEditDrawer/index.tsx
  packages/ui/components/data-portal/ServiceSelect/index.tsx
  packages/ui/components/sections/ListingBasicInfo.tsx
  pnpm-lock.yaml
Labels: new-feature, release
